<footer class="footer">
    © 2021 - 2022 The Matrix </footer>

</div>
<!-- End Right content here -->

</div>
<!-- END wrapper -->


<!-- jQuery  -->
<script src="/js/jquery.min.js"></script>
<script src="/js/tether.min.js"></script><!-- Tether for Bootstrap -->
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/detect.js"></script>
<script src="/js/fastclick.js"></script>
<script src="/js/jquery.slimscroll.js"></script>
<script src="/js/jquery.blockUI.js"></script>
<script src="/js/waves.js"></script>
<script src="/js/jquery.nicescroll.js"></script>
<script src="/js/jquery.scrollTo.min.js"></script>

<!--Morris Chart-->
<script src="/plugins/morris/morris.min.js"></script>
<script src="/plugins/raphael/raphael-min.js"></script>


<!-- App js -->
<script src="/js/app.js"></script>

</body>
</html>