<%- include("./header.ejs") %>
    <main>

        <section class="hero hero-yellow">
            <div class="hero-text-cont">
                <div class="container">
                    <div class="row">
                        <div class="col-12">

                            <div class="hero-heading">
                                <h1>About Building Materials Nationwide Ltd</h1>
                            </div>
                        </div><!-- /Col -->
                    </div><!-- /Row -->

                </div><!-- /Col -->
                <!-- Categories -->
            </div><!-- /Row -->
            </div><!-- /Container -->
            </div><!-- /Text Cont -->
            <div class="hero-image-cont">
                <div class="container">
                    <div class="row">
                        <!-- =====================
                        Image & Main Content
                        ===================== -->
                        <div class="col-12 col-desk-8">
                            <!-- Image -->
                            <picture class="hero-image  hero-image-contain ">
                                <source media="(max-width: 565px)"
                                    srcset="https://www.buildingmaterials.co.uk/nuts-and-bolts/storage/media/2020/6/b-m-u-k-logo-no-background-png_512x300.png">
                                <source media="(max-width: 992px)"
                                    srcset="https://www.buildingmaterials.co.uk/nuts-and-bolts/storage/media/2020/6/b-m-u-k-logo-no-background-png_992x581.png">
                                <img src="https://www.buildingmaterials.co.uk/nuts-and-bolts/storage/media/2020/6/b-m-u-k-logo-no-background-png.png"
                                    alt="BuildingMaterials.co.uk Logo">
                            </picture>
                            <!-- Main Content -->
                            <div class="richtext">
                                <h3><u>Company History</u></h3>
                                <p class="p1">Phil started in the industry in <b>1987</b>&nbsp;and worked for a total of
                                    16
                                    years before starting <b>Building Materials Nationwide Ltd in 2003</b>.&nbsp;He
                                    worked
                                    in Distribution for two of the biggest PLC companies; specialising in Ceilings,
                                    Drywall,
                                    Insulation and Partitioning. Whilst working in the trade, he found there was a gap
                                    in
                                    the market for smaller businesses and to offer more personal advice.&nbsp;</p>
                                <p class="p1">After seeing the opportunity in the market, he couldn't ignore it. At the
                                    age
                                    of <b>32</b>,<b>&nbsp;</b>Phil decided to start his own business. With a mortgage, a
                                    wife, two kids, £15k credit card debt and nothing in the bank, it was definitely a
                                    risk.
                                </p>
                                <p class="p1">Phil managed to persuade one supplier to grant him some credit and then
                                    put
                                    everything else he needed on a credit card. He started out in his dining room on the
                                    <b>1st April</b>&nbsp;- so some could say the odds were against him. It was just
                                    him,
                                    his Nokia 6610 and a dream that he could make a better life for himself and his
                                    family.
                                    <b>Within 3 months</b>, he was moving out of his house and into a small office. He
                                    originally set himself a target of £500k within the first year but not only did he
                                    achieve this, he doubled it!&nbsp;
                                </p>
                                <p class="p1"><b>Within 2 years</b>,&nbsp;he had moved into a bigger premises and
                                    employed 3
                                    members of staff. From there he continued to push himself and grow the business with
                                    the
                                    same mantra; that the customer wants the <b>right product</b>, at the <b>right
                                        price</b>
                                    and at the <b>right time</b>. Phil knew if he could do that for them, then he could
                                    achieve<b> anything</b>.&nbsp;</p>
                                <h3><u>About Us</u></h3>
                                <p class="p1">At Building Materials.co.uk we specialise in the supply
                                    of&nbsp;<b>building&nbsp;</b>and&nbsp;<b>construction materials </b>t<span
                                        style="font-size: 0.9375rem;">o contractors and end users;</span>&nbsp;this
                                    includes<span style="font-size: 0.9375rem;">&nbsp;drylining, timber, insulation,
                                        suspended ceilings, partitioning, SFS steel framing systems, general building
                                        materials and everything in-between! We have a sister company sister company;
                                        Eco
                                        Timber Ltd, who have a full FSC certification. Our trade experts will be sure to
                                        find you the <b>right product</b>, at the <b>right price</b>.</span><span
                                        class="Apple-converted-space">&nbsp;</span>Working closely with some of the
                                    biggest
                                    manufacturers and distributors in the UK, we give and unrivalled service to
                                    customers
                                    who require building products. Read all about our dedicated Account Managers
                                    and&nbsp;<a
                                        href="https://www.buildingmaterials.co.uk/nuts-and-bolts/customer-services/what-makes-us-different"
                                        target="_blank" style="text-decoration-line: underline;">what makes us
                                        different</a>.</p>
                                <p class="p1"><br></p>
                                <div>
                                    <h6><span style="font-weight: normal;"><span class="s1">If you have any questions
                                                please
                                                contact us using the following:<br></span></span><span
                                            style="font-weight: normal;"><span class="s1">Postal Address:&nbsp;1 The
                                                Pavillions, Ruscombe Business Park, Twyford, RG10
                                                9NN<br></span></span><span style="font-weight: normal;"><span
                                                class="s1">Registered
                                                Address:&nbsp;Brightwell Grange, Britwell Road, Slough SL1
                                                8DF<br></span></span><span style="font-weight: normal;"><span
                                                class="s1">buildingmaterials.co.uk&nbsp;is a trading name of Building
                                                Materials Nationwide Ltd.<br></span></span><span
                                            style="font-weight: normal;"><span class="s1">Registered in the
                                                UK:&nbsp;(08370227)&nbsp;VAT Number:&nbsp;283 0006
                                                37<br></span></span><span style="font-weight: normal;"><span
                                                class="s1">Email:&nbsp;sales@buildingmaterials.co.uk<br></span></span><span
                                            style="font-weight: normal;"><span
                                                class="s2">Phone:&nbsp;01628674910</span></span></h6>
                                    <p class="p2"><span class="s1" style="font-weight: normal;"></span></p>
                                    <p class="p2"></p>
                                </div>
                            </div>

                            <!-- /Info -->
                        </div><!-- /Col -->
                        <!-- =====================
                        Sidebar
                        ===================== -->
                        <div class="col-12 col-desk-4">
                            <!-- List (Shopping List) -->
                            <!-- Related News -->
                            <div class="hero-related-news">
                                <h3>Related Posts</h3>

                                <a href="https://www.buildingmaterials.co.uk/nuts-and-bolts/customer-services/contact-us"
                                    class="card card-bordered card-border-yellow">
                                    <h5 class="card-category">Customer Services</h5>
                                    <h3 class="card-title">Contact Us</h3>
                                    <p class="card-text">Contact &amp; Policies</p>
                                    <div class="postinfo ">
                                        <span class="postinfo-author">Jessica Johal</span>
                                        <span class="postinfo-date">26th June 2020</span>
                                    </div>
                                </a><!-- /Card -->

                            </div>
                        </div><!-- /Col -->
                    </div><!-- /Row -->
                </div><!-- /Container -->
            </div><!-- /Image Cont -->
        </section>

    </main>

    <!-- Load assets -->
    <script src="https://www.buildingmaterials.co.uk/nuts-and-bolts/assets/js/frontend.js" defer></script>

    <%- include("./footer.ejs") %>