<%- include("./header.ejs") %>

    <section class="hero hero-dark-grey">
        <div class="hero-text-cont">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Breadcrumbs -->


                        <div class="hero-heading">
                            <h1>Contact Us</h1>
                        </div>
                    </div><!-- /Col -->
                </div><!-- /Row -->
                <div class="row hero-info-row">
                    <!-- Info -->
                    <div class="col-12 col-desk-8">
                        <div class="hero-postinfo-social">
                            <div class="postinfo  postinfo-white ">
                                <span class="postinfo-author">MilGo Traders</span>
                            </div>

                        </div>
                    </div><!-- /Col -->
                    <!-- Categories -->
                </div><!-- /Row -->
            </div><!-- /Container -->
        </div><!-- /Text Cont -->
        <div class="hero-image-cont">
            <div class="container">
                <div class="row">
                    <!-- =====================
                        Image & Main Content
                        ===================== -->
                    <div class="col-12 col-desk-10">
                        <!-- Image -->
                        <picture class="hero-image ">
                            <source media="(max-width: 565px)"
                                srcset="https://www.buildingmaterials.co.uk/nuts-and-bolts/storage/media/2020/6/corinne-kutz-t-m-i2_-r5-nfo-unsplash_450x300.jpg">
                            <source media="(max-width: 992px)"
                                srcset="https://www.buildingmaterials.co.uk/nuts-and-bolts/storage/media/2020/6/corinne-kutz-t-m-i2_-r5-nfo-unsplash_900x600.jpg">
                            <img src="https://www.buildingmaterials.co.uk/nuts-and-bolts/storage/media/2020/6/corinne-kutz-t-m-i2_-r5-nfo-unsplash.jpg"
                                alt="Contact Us">
                        </picture>
                        <!-- Main Content -->
                        <div class="richtext">
                            <div class="contact-details">
                                <h3>Contact Building Materials Nationwide Ltd&nbsp;</h3>
                                <h4>
                                    <div class="contact-details">
                                        <p class="p3"></p>
                                        <p class="p3">Please don't hesitate to contact us if you have any questions
                                            or problems. Our team will assist you in solving your requests.</p>
                                        <p class="p3"><span class="s1"><span
                                                    class="Apple-converted-space"></span></span>
                                        </p>

                                        <p class="p3"><span class="s1"><span
                                                    class="Apple-converted-space"></span></span>
                                        </p>
                                        <p class="p2">Alternatively, you can call us on&nbsp;<b
                                                class="InfinityNumber">01628674910</b>.</p>
                                        <p class="p2"><br></p>
                                    </div>
                                </h4>
                                <h4>
                                    <div class="contact-form">
                                        <form class="form contact"
                                            action="https://www.buildingmaterials.co.uk/contact/index/post/"
                                            id="contact-form" method="post" data-hasrequired="* Required Fields"
                                            novalidate="novalidate">
                                            <div class="actions-toolbar">
                                                <div class="primary">
                                                    <p class="p2"><span class="s1"
                                                            style="font-weight: normal;">Buildingmaterials.co.uk is
                                                            a trading name of Building Materials Nationwide Ltd.
                                                            Registered in the UK: (08370227)</span></p>
                                                    <p class="p2"><span class="s1">VAT
                                                            Number:&nbsp;</span><span class="s1"
                                                            style="font-weight: normal;">283 0006 37</span></p>
                                                    <p class="p1"><span class="s1" style="font-weight: normal;"></span>
                                                    </p>
                                                    <p class="p2"><span class="s1">Postal
                                                            Address:</span><span class="s1"
                                                            style="font-weight: normal;">&nbsp;1 The Pavilions,
                                                            Ruscombe Business Park, Twyford, RG10 9NN</span></p>
                                                    <p class="p2"><span class="s1">Registered
                                                            Address:</span><span class="s1"
                                                            style="font-weight: normal;">&nbsp;Brightwell Grange,
                                                            Britwell Road, Slough SL1 8DF</span></p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </h4>
                            </div>
                        </div>

                    </div><!-- /Col -->
                    <!-- =====================
                        Sidebar
                        ===================== -->
                    <div class="col-12 col-desk-2">

                    </div><!-- /Col -->
                </div><!-- /Row -->
            </div><!-- /Container -->
        </div><!-- /Image Cont -->
    </section>






    <script src="https://www.buildingmaterials.co.uk/nuts-and-bolts/assets/js/frontend.js" defer></script>


    <%- include("./footer.ejs") %>