<%- include("./header.ejs") %>

    <section class="hero hero-dark-grey">
        <div class="hero-text-cont">
            <div class="container">
                <div class="row hero-info-row">
                    <!-- Info -->
                    <div class="col-12 col-desk-10">

                    </div><!-- /Col -->
                    <!-- Categories -->
                </div><!-- /Row -->
            </div><!-- /Container -->
        </div><!-- /Text Cont -->
        <div class="hero-image-cont">
            <div class="container">
                <div class="row">
                    <!-- =====================
                        Image & Main Content
                        ===================== -->
                    <div class="col-12 col-desk-8">
                        <!-- Image -->
                        <picture class="hero-image ">
                            <source media="(max-width: 565px)"
                                srcset="https://www.buildingmaterials.co.uk/nuts-and-bolts/storage/media/2020/5/construction_450x300.jpeg">
                            <source media="(max-width: 992px)"
                                srcset="https://www.buildingmaterials.co.uk/nuts-and-bolts/storage/media/2020/5/construction_900x600.jpeg">
                            <img src="https://www.buildingmaterials.co.uk/nuts-and-bolts/storage/media/2020/5/construction.jpeg"
                                alt="Construction site and workers">
                        </picture>
                        <!-- Main Content -->
                        <div class="richtext">
                            <h2>Have a question? Check out our FAQs to find out more about our service<br></h2>
                            <div class="accordion">
                                <div class="collapse collapse-js">
                                    <div class="collapse-item"><label class="collapse-header"><span
                                                class="collapse-title text-copy">Who are
                                                milgotraders.co.uk?</span></label>
                                        <div class="collapse-content">
                                            <div class="collapse-inner">
                                                <p>www.milgotraders.co.uk is a website owned and managed by
                                                    Building Materials Nationwide Ltd who have been in business
                                                    since 2003.</p>
                                                <p>We are a privately owned, specialist supplier of building
                                                    materials focussed on supplying a quality service at competitive
                                                    prices.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="collapse-item"><label class="collapse-header"><span
                                                class="collapse-title text-copy">What does immediate despatch
                                                actually mean?</span></label>
                                        <div class="collapse-content">
                                            <div class="collapse-inner">
                                                <p>This denotes that the product is in stock within most of our
                                                    delivery depots within mainland UK and can be despatched
                                                    immediately which takes 2-3 working days to arrive.</p>
                                                <p>If you specifically require a next day delivery you must contact
                                                    the sales office directly to discuss your requirements.</p>
                                                <p>Standard deliveries (i.e. working days) are made Monday to
                                                    Friday.</p>
                                                <p>Weekend deliveries can be organised by request and will be
                                                    subject to an additional delivery charge.</p>
                                                <p>Orders under £297.00 (excluding vat) are subject to a delivery
                                                    charge of £44.97.</p>
                                                <p>Deliveries to Non mainland UK (i.e. Nothern Ireland, Isle of
                                                    Wight, Isle of Man etc) are possible but are subject to
                                                    discussion with the sales office first and may incurr additional
                                                    delivery charges.</p>
                                                <p>On occasions it is with regret that a product highlighted as
                                                    immediate despatch is not available for delivery within 2-3
                                                    working days in your area. If this does happen you will be
                                                    informed either by phone or email</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="collapse-item"><label class="collapse-header"><span
                                                class="collapse-title text-copy">How do I arrange a
                                                collection?</span></label>
                                        <div class="collapse-content">
                                            <div class="collapse-inner">
                                                <p>We have collection points in many major towns and cities and each
                                                    stock a wide variety of products.</p>
                                                <p>If you require to collect a product contact the sales office to
                                                    find out the nearest collection point before placing your order.
                                                </p>
                                                <p>When your order has been placed we will confirm by phone or email
                                                    the full address of the collection point.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="collapse-item"><label class="collapse-header"><span
                                                class="collapse-title text-copy">What about delivery
                                                times?</span></label>
                                        <div class="collapse-content">
                                            <div class="collapse-inner">
                                                <p>Deliveries are made by a variety of vehicles and sources,
                                                    therefore delivery times are very difficult to guarantee. We
                                                    will attempt to give you an approximate time but this will not
                                                    be guaranteed and can be subject to change.</p>
                                                <p>If you have specific requirements please contact the sales office
                                                    first before placing your order.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="collapse-item"><label class="collapse-header"><span
                                                class="collapse-title text-copy">In the unlikely event that it's
                                                faulty, what do I do?</span></label>
                                        <div class="collapse-content">
                                            <div class="collapse-inner">
                                                <p>Faulty products must be advised in writing either by post, email
                                                    or fax within 10 days for a full refund (including the delivery
                                                    charge).</p>
                                                <p>Alternatively, the collection of the product can be arranged
                                                    through our nominated carrier, where the cost of the return will
                                                    be at our expense. We require the return of the products within
                                                    10 days of the refund request being made.</p>
                                                <p>To arrange for the product(s) to be collected, send an e-mail to
                                                    sales@milgotraders.co.uk with your order number and details
                                                    of the product to be returned. We will either dispatch a
                                                    replacement or process the refund.</p>
                                                <p>All refunds will be made to the account used to purchase the
                                                    product.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="collapse-item"><label class="collapse-header"><span
                                                class="collapse-title text-copy">In the unlikely event delivery is
                                                damaged, what do I do?</span></label>
                                        <div class="collapse-content">
                                            <div class="collapse-inner">
                                                <p>In the unlikely event that products (including special order and
                                                    made-to-measure items) are delivered damaged, we will exchange
                                                    the product or provide you with a full refund. Notification of
                                                    any damage must be made within 10 days of the product being
                                                    delivered to you. We reserve the right to inspect all returned
                                                    products prior to agreeing to any part-refund, full refund or
                                                    product exchange.</p>
                                                <p>Damaged products must be advised in writing either by post, email
                                                    or fax within 10 days for a full refund (including delivery
                                                    charge).</p>
                                                <p>Alternatively, collection of the product can be arranged through
                                                    our nominated carrier, where the cost of the return will be at
                                                    our expense. We require the return of the products within 10
                                                    days of the refund request being made.</p>
                                                <p>To arrange for the product(s) to be collected, send an e-mail to
                                                    sales@milgotraders.co.uk with your order number and details
                                                    of the product to be returned. We will either dispatch a
                                                    replacement or process the refund.</p>
                                                <p>All refunds will be made to the account used to purchase the
                                                    product.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="collapse-item"><label class="collapse-header"><span
                                                class="collapse-title text-copy"><span class="ppc-acc-title">Do you
                                                    have a returns policy?</span><br></span>
                                            <div><span class="ppc-acc-title"><br></span></div>
                                        </label>
                                        <div class="collapse-content">
                                            <div class="collapse-inner">
                                                <p>In the event that you wish to return a product that is no longer
                                                    required, we will provide you with a refund less a 25%
                                                    restocking charge and excluding any delivery charges, provided
                                                    we are advised of the proposed return within 10 days of the
                                                    product being delivered to you.</p>
                                                <p>Alternatively, send an e-mail to sales@milgotraders.co.uk
                                                    and we will arrange for the collection of the product by our
                                                    nominated carrier. There will be a minimum charge, payable by
                                                    you of £22 for this service, which may increase significantly
                                                    depending on your location and product type. Your refund will be
                                                    processed within 30 days.</p>
                                                <p>Refunds are not available on 'free with purchase' items unless
                                                    all other products are returned.</p>
                                                <p>All refunds will be made to the account used to purchase the
                                                    product.</p>
                                                <p>This does not affect your statutory rights.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="collapse-item"><label class="collapse-header"><span
                                                class="collapse-title text-copy"><span class="ppc-acc-title">I have
                                                    a complaint or I want to commend you on a great service - who
                                                    can I talk to?</span><br></span>
                                            <div><span class="ppc-acc-title"><br></span></div>
                                        </label>
                                        <div class="collapse-content">
                                            <div class="collapse-inner">
                                                <p>If you have anything you want to say, good or bad, please contact
                                                    the owner of www.milgotraders.co.uk on 01628 361141 or via
                                                    email phil@milgotraders.co.uk</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!-- /Col -->

                    <div class="col-12 col-desk-2">

                    </div><!-- /Col -->
                </div><!-- /Row -->
            </div><!-- /Container -->
        </div><!-- /Image Cont -->
    </section>
    <br />
    <!-- =====================
    Radio
    ===================== -->
    <!-- Load assets -->
    <script src="https://www.buildingmaterials.co.uk/nuts-and-bolts/assets/js/frontend.js" defer></script>


    <%- include("./footer.ejs") %>