<!doctype html><html lang=en>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<meta charset=utf-8 />

<meta name=description content="For high quality building supplies whether you are in the trade or you are working on your own home project order online here!"/>
<meta name=robots content="INDEX,FOLLOW"/>
<meta name=viewport content="width=device-width, initial-scale=1"/>
<meta name=format-detection content="telephone=no"/>
<title>Milgo Traders</title>
<link rel=stylesheet type="text/css" media=all href="/static/version1643217956/_cache/merged/4d0c65b6b724a36a7c93bfbfc562082d.min.css">

<link rel=stylesheet type="text/css" media="screen and (min-width: 768px)" href="/static/version1643217956/frontend/Rixxo/bm/en_GB/css/styles-l.min.css">
<link rel=stylesheet type="text/css" media=print href="/static/version1643217956/frontend/Rixxo/bm/en_GB/css/print.min.css">
<link rel=stylesheet type="text/css" media="screen and (min-width: 1px)" href="/static/version1643217956/frontend/Rixxo/bm/en_GB/css/style.min.css">
<link rel=stylesheet type="text/css" media="print and (min-width: 1px)" href="/static/version1643217956/frontend/Rixxo/bm/en_GB/css/print-lumarix.min.css">
<link rel=stylesheet type="text/css" media=all href="/static/version1643217956/frontend/Rixxo/bm/en_GB/Apptrian_Subcategories/css/apptrian_subcategories.min.css">
<link rel=preload as=font crossorigin=anonymous href="/static/version1643217956/frontend/Rixxo/bm/en_GB/fonts/opensans/light/opensans-300.woff2">
<link rel=preload as=font crossorigin=anonymous href="/static/version1643217956/frontend/Rixxo/bm/en_GB/fonts/opensans/regular/opensans-400.woff2">
<link rel=preload as=font crossorigin=anonymous href="/static/version1643217956/frontend/Rixxo/bm/en_GB/fonts/opensans/semibold/opensans-600.woff2">
<link rel=preload as=font crossorigin=anonymous href="/static/version1643217956/frontend/Rixxo/bm/en_GB/fonts/opensans/bold/opensans-700.woff2">
<link rel=preload as=font crossorigin=anonymous href="/static/version1643217956/frontend/Rixxo/bm/en_GB/fonts/Luma-Icons.woff2">
<link rel=canonical href="index.html"><link rel=icon type="image/x-icon" href="/media/favicon/stores/1/BM_Favicon.png">
<link rel="shortcut icon" type="image/x-icon" href="/media/favicon/stores/1/BM_Favicon.png">
<style xml="space">
  < div.banner-hero-desktop{display:block}
  div.banner-hero-mobile{display:none}
  @media screen and (max-width:768px)
  {div.banner-hero-desktop{display:none}
div.banner-hero-mobile{display:block}
div.banner-item img{height:auto}.page-wrapper{overflow-x:hidden}}@font-face{font-family:'FontAwesome';src:url('/pub/static/frontend/Rixxo/bm/en_US/Mageplaza_Core/css/fonts/fontawesome-webfont5b62.eot?v=4.6.3');src:url('/pub/static/frontend/Rixxo/bm/en_US/Mageplaza_Core/css/fonts/fontawesome-webfontd41d.eot?#iefix&v=4.6.3') format('embedded-opentype'),url('/pub/static/frontend/Rixxo/bm/en_US/Mageplaza_Core/css/fonts/fontawesome-webfont5b62.woff2?v=4.6.3') format('woff2'),url('/pub/static/frontend/Rixxo/bm/en_US/Mageplaza_Core/css/fonts/fontawesome-webfont5b62.woff?v=4.6.3') format('woff'),url('/pub/static/frontend/Rixxo/bm/en_US/Mageplaza_Core/css/fonts/fontawesome-webfont5b62.ttf?v=4.6.3') format('truetype'),url('/pub/static/frontend/Rixxo/bm/en_US/Mageplaza_Core/css/fonts/fontawesome-webfont5b62.svg?v=4.6.3#fontawesomeregular') format('svg');font-weight:400;font-style:normal}</style>

</head>
<body data-container=body data-mage-init='{"loaderAjax":[],"loader":{"icon":"/static/version1643217956/frontend/Rixxo/bm/en_GB/images/loader-2.gif"}}' class="customer-logged-out cms-home cms-index-index page-layout-1column">

       <noscript><iframe height=0 width=0 style="display:none;visibility:hidden" data-src="https://www.googletagmanager.com/ns.html?id=GTM-NT2PNDZ"></iframe>
       </iframe></noscript> <div class=page-wrapper>
        <header class=page-header>
          <div class="panel wrapper">
            <div class="panel header">
        <ul class="trustcall"> 
        <li class="header-top__trust-pilot">
        <div class="trustpilot-widget"> Trustpilot</div></li>
            <li class="header-top__call"> <a href="tel:01628674910"> <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width=22 data-src="/static/version1643217956/frontend/Rixxo/bm/en_GB/images/icon-phone.svg"/> 
              <span>Call our trade experts&nbsp;|&nbsp;</span>
              <span class=InfinityNumber>
              01628674910
            </span>
          </a>
        </li>
      </ul>


              <a class="action skip contentarea" href="#contentarea"> <span> Skip to Content </span></a></div></div><div class="header content">
                <span data-action=toggle-nav class="action nav-toggle">
                  <span>Toggle Nav</span>
                </span> <a class=logo href="index.html" title="Milgo&#x20;Traders" aria-label="store logo"> 
                <picture>
                  
                  <img src="milgoLogo.jpeg" title="Milgo&#x20;Traders" alt="Milgo Logo"  data-src="milgoLogo.jpeg" />
                </picture></a> <div class=dropdownix>


                  <div class=dropdown-menu> <div class=dropdownwelcome> <div class="greet welcome" data-bind="scope: 'customer'"> 
                  </span> 
                </div>
                </div>
               
              </div>

             
            </div>
      <div data-block=search-icon class=search-icon-wrapper> <a class="action showsearch" href="#"> 
                  <span class=icon>
                    <picture><source type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-srcset="https://www.buildingmaterials.co.uk/media/fishpig/webp/static/frontend/Rixxo/bm/en_GB/images/Search.webp"/><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/static/version1643217956/frontend/Rixxo/bm/en_GB/images/Search.png"/>
                    </picture></span> <span class=text>Search</span>
                  </a></div><div class="block block-search"> 
                    <div class="block block-title"><strong>Search</strong></div><div class="block block-content"> <form class="form minisearch" id=search_mini_form action="#">
                      <div class="field search"> <label class=label for=search data-role=minisearch-label> <span>Search</span></label>
                        <div class=control>
                          <input id=search type=text  placeholder="Search&#x20;for&#x20;products,&#x20;categories,&#x20;..." class=input-text maxlength=128 role=combobox aria-haspopup=false style="height: 50px !important; border-color: #1b3990!important; border-radius: 5px 0 0 5px !important;"/>
                          <div id=search_autocomplete class=search-autocomplete>
                          </div>
                          <div class=nested>
                            <a class="action advanced" href="catalogsearch/advanced/index.html" data-action=advanced-search> Advanced Search </a>
                          </div>
                          </div>
                        </div>
                        <div class=actions>
                         <button type=submit title=Search class="action search" aria-label=Search> <span>Search</span></button>
                       </div>
                        </form></div></div><div class=header__mobile-phone> <a href="tel:01628674910"> <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width=22 data-src="/static/version1643217956/frontend/Rixxo/bm/en_GB/images/icon-phone.svg"/> <span class=InfinityNumber>01628674910</span>
                        </a>
                      </div>
                      </div></header><div class="section section__navigation"><div class="section section__navigation_inner">
                        <div class="menu menu--main">
                         <ul> <li class="level--1 children--3" data-home=true><a href="index.html" target=_self>
                          <svg id=svg-home viewBox="0 0 24 24" style=" width: 15px; fill: white; transform: scale(1.6) translateY(2px); ">
                            <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z">
                              
                            </path><path d="M0 0h24v24H0z" fill=none></path>
                          </svg></a></li><li class="level--1 haschildren children--3">
                            <a href="building-materials.html" target=_self>MilGo Traders</a> <ul>
                            <li class="level--2 haschildren children--3">
                              <a href="building-materials/access-panels.html" target=_self>Access Panels</a> <ul> <li class="level--3 0"><a href="building-materials/access-panels/acoustic.html" target=_self>Acoustic</a>
                                <div class=custom__block></div>
                              </li>
                              <li class="level--3 0">
                              <a href="building-materials/access-panels/airtight.html" target=_self>Airtight</a><div class=custom__block></div>

                            </li><li class="level--3 0"><a href="building-materials/access-panels/circular.html" target=_self>Circular</a>
                              <div class=custom__block></div></li><li class="level--3 0">
                                <a href="building-materials/access-panels/fire-rated.html" target=_self>Fire Rated</a><div class=custom__block>
                                  
                                </div></li><li class="level--3 0"><a href="building-materials/access-panels/plastic.html" target=_self>Plastic</a>
                                  <div class=custom__block>
                                    
                                  </div></li><li class="level--3 0"><a href="building-materials/access-panels/ceramic-tile.html" target=_self>Ceramic Tile</a>
                                    <div class=custom__block></div>
                                  </li><li class="level--3 0"><a href="building-materials/access-panels/plasterboard-door.html" target=_self>Plasterboard Door</a><div class=custom__block></div></li><li class="level--3 0">

                                  <a href="building-materials/access-panels/budget.html" target=_self>Budget</a><div class=custom__block></div>
                                </li><li class="level--3 0"><a href="building-materials/access-panels/loft-hatch.html" target=_self>Loft & Roof Hatches</a><div class=custom__block></div>
                                </li>
                              </ul>
                              <div class=custom__block></div>
                            </li><li class="level--2 0"><a href="building-materials/aggregates.html" target=_self>Aggregates</a>
                                  <div class=custom__block></div>
                                </li><li class="level--2 haschildren children--3">
                                  <a href="building-materials/bricks-blocks.html" target=_self>Bricks & Blocks</a> 
                                  <ul> <li class="level--3 0"><a href="building-materials/bricks-blocks/facing.html" target=_self>Facing</a><div class=custom__block></div>
                                  </li>
                                  <li class="level--3 0">
                                    <a href="building-materials/bricks-blocks/engineering.html" target=_self>Engineering</a><div class=custom__block>
                                      
                                    </div>
                                  </li><li class="level--3 0"><a href="building-materials/bricks-blocks/concrete-blocks.html" target=_self>Concrete Blocks</a>
                                    <div class=custom__block></div>
                                  </li>
                                </ul>



                                  <div class=custom__block>
                                    
                                  </div><
                                  /li>
                                  <li class="level--2 haschildren children--3">
                                    <a href="building-materials/lintels.html" target=_self>Lintels</a>
                                    <ul> 
                                      <li class="level--3 0">
                                        <a href="building-materials/lintels/cavity-wall.html" target=_self>Cavity</a><div class=custom__block></div>
                                      </li>
                                      <li class="level--3 0"><a href="building-materials/lintels/eave-lintels.html" target=_self> Eaves Lintel</a><div class=custom__block>
                                      
                                      </div>
                                    </li>
                                      <li class="level--3 0"><a href="building-materials/lintels/solid-wall-lintel.html" target=_self> Solid Wall Lintel</a><div class=custom__block></div></li><li class="level--3 0"><a href="building-materials/lintels/archformers.html" target=_self> Archformers</a><div class=custom__block></div></li>



                                      <li class="level--3 0"><a href="building-materials/lintels/timber-frame-lintel.html" target=_self> Timber Frame Lintel</a><div class=custom__block></div>
                                      </li><li class="level--3 0">
                                        <a href="building-materials/lintels/concrete.html" target=_self> Concrete Lintels</a>
                                        <div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 0"><a href="building-materials/membranes.html" target=_self>Membranes</a>
                                          <div class=custom__block></div></li><li class="level--2 haschildren children--2"><a href="building-materials/concrete-reinforcement-metal.html" target=_self>Concrete Reinforcement & Metal</a> <ul> <li class="level--3 0"><a href="building-materials/concrete-reinforcement-metal/rebar.html" target=_self>Rebar</a><div class=custom__block></div></li>
                                            <li class="level--3 0"><a href="building-materials/concrete-reinforcement-metal/metal-mesh.html" target=_self>Expanded Metal Mesh</a><div class=custom__block></div></li>

                                          </ul>
                                          <div class=custom__block></div></li><li class="level--2 0"><a href="building-materials/construction-accessories-chemicals.html" target=_self>Construction Accessories & Chemicals</a>
                                            <div class=custom__block></div></li>
                                            <li class="level--2 0"><a href="building-materials/building-boards-and-shower-elements.html" target=_self>Building Boards and Shower Elements</a><div class=custom__block></div></li>
                                            <li class="level--2 haschildren children--3"><a href="building-materials/renders-and-accessories.html" target=_self>Renders & Accessories</a>
                                             <ul> 
                                              <li class="level--3 0"><a href="building-materials/renders-and-accessories/base-coat.html" target=_self>Base Coat</a><div class=custom__block></div></li>
                                              
                                              <li class="level--3 0"><a href="building-materials/renders-and-accessories/complementary-products.html" target=_self>Complementary Products</a><div class=custom__block></div></li>
                                              <li class="level--3 0"><a href="building-materials/renders-and-accessories/finish.html" target=_self>Finish</a><div class=custom__block></div></li>

                                              <li class="level--3 0"><a href="building-materials/renders-and-accessories/silicone-thin-coat.html" target=_self>Silicone Thin Coat</a><div class=custom__block></div></li>
                                            </ul>

                                            <div class=custom__block></div></li><li class="level--2 0"><a href="building-materials/screws-nails-fixings.html" target=_self>Screws, Nails & Fixings</a><div class=custom__block></div>
                                            </li>
                                            <li class="level--2 0"><a href="building-materials/underfloor-heating.html" target=_self>Underfloor Heating</a><div class=custom__block></div></li>

                                            <li class="level--2 haschildren children--3"><a href="building-materials/garden.html" target=_self>Garden</a> 

                                              <ul> 
                                                <li class="level--3 0">
                                    <a href="building-materials/garden/rock-salt-de-icing-grit-salt.html" target=_self> Rock Salt & Deicing Grit Salt</a><div class=custom__block></div></li>

                                    <li class="level--3 0"><a href="building-materials/garden/bark-mulch.html" target=_self> Bark & Mulch</a><div class=custom__block></div></li>

                                    <li class="level--3 0"><a href="building-materials/garden/soil-compost.html" target=_self> Soil & Compost</a><div class=custom__block></div></li>

                                    <li class="level--3 0"><a href="garden/garden-aggregate.html" target=_self> Decorative Aggregate</a><div class=custom__block></div></li>

                                    <li class="level--3 0"><a href="index.html#notexist" target=_self> Sand & Building Materials</a><div class=custom__block></div></li><li class="level--3 0"><a href="building-materials/garden/garden-chemicals.html" target=_self> Garden Chemicals</a><div class=custom__block></div></li>

                                    <li class="level--3 0">
                                      <a href="building-materials/garden/garden-buildings.html" target=_self> Garden Buildings</a><div class=custom__block></div></li>

                                      <li class="level--3 0"><a href="timber-joinery/decking.html" target=_self>Decking</a><div class=custom__block></div></li>

                                      <li class="level--3 0"><a href="timber-joinery/fencing.html" target=_self>Fencing</a><div class=custom__block></div></li></ul>



                                    <div class=custom__block></div>
                                  </li>
                                </ul>
                                <div class=custom__block>
                                  <p><a href="trade-account.html"> <picture><source type="image/webp" srcset="media/fishpig/webp/BMN/All_site/CallumW.webp"/><img src="media/BMN/All_site/CallumW.png" alt=Callum class=no-lazyload /></picture></a></p><style>@media (min-width:768px){.section__navigation .menu--main .level--1.children--3>ul{height:400px !important}.amsearch-item{padding:0 15px 5px !important}.dropdown-menu-actions{list-style-type:none}}@media (max-width:767px){.products.list .product.on-sale .product-image-wrapper:after{background:url("/pub/media/icons/flash-sale-sm.png") no-repeat;height:45px;width:100px}}</style></div></li>




                                    <li class="level--1 haschildren children--3"><a href="drylining-plasters.html" target=_self>Drylining & Plasters</a> <ul> <li class="level--2 haschildren children--3"><a href="drylining-plasters/plasterboard.html" target=_self>Plasterboard</a> <ul> <li class="level--3 0"><a href="drylining-plasters/plasterboard/standard.html" target=_self>Standard</a><div class=custom__block></div></li><li class="level--3 0"><a href="drylining-plasters/plasterboard/sound-resistant.html" target=_self>Sound Resistant</a><div class=custom__block></div></li><li class="level--3 0"><a href="drylining-plasters/plasterboard/fire-resistant.html" target=_self>Fire Resistant</a><div class=custom__block></div></li><li class="level--3 0"><a href="drylining-plasters/plasterboard/moisture-resistant.html" target=_self>Moisture Resistant</a><div class=custom__block></div></li><li class="level--3 0"><a href="drylining-plasters/plasterboard/vapour-resistant.html" target=_self>Vapour Resistant</a><div class=custom__block></div></li><li class="level--3 0"><a href="drylining-plasters/plasterboard/plank.html" target=_self>Plank</a><div class=custom__block></div></li><li class="level--3 0"><a href="drylining-plasters/plasterboard/sound-moisture.html" target=_self>Sound & Moisture Resistant</a><div class=custom__block></div></li><li class="level--3 0"><a href="drylining-plasters/plasterboard/dense.html" target=_self>Dense</a><div class=custom__block></div></li><li class="level--3 0"><a href="drylining-plasters/plasterboard/external.html" target=_self>External</a><div class=custom__block></div></li><li class="level--3 0"><a href="drylining-plasters/plasterboard/insulated-plasterboard.html" target=_self>Insulated Plasterboard</a><div class=custom__block></div></li><li class="level--3 0"><a href="drylining-plasters/plasterboard/fermacell.html" target=_self> Fermacell</a><div class=custom__block></div></li><li class="level--3 0"><a href="drylining-plasters/plasterboard/aquapanel.html" target=_self> Aquapanel</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 haschildren children--3"><a href="drylining-plasters/manufacturer.html" target=_self>Manufacturer</a> <ul> <li class="level--3 0"><a href="drylining-plasters/manufacturer/british-gypsum.html" target=_self>British Gypsum</a><div class=custom__block></div></li><li class="level--3 0"><a href="drylining-plasters/manufacturer/celotex.html" target=_self>Celotex</a><div class=custom__block></div></li><li class="level--3 0"><a href="drylining-plasters/manufacturer/gtec.html" target=_self>GTEC</a><div class=custom__block></div></li><li class="level--3 0"><a href="drylining-plasters/manufacturer/kingspan.html" target=_self>Kingspan</a><div class=custom__block></div></li><li class="level--3 0"><a href="drylining-plasters/manufacturer/knauf.html" target=_self>Knauf</a><div class=custom__block></div></li><li class="level--3 0"><a href="drylining-plasters/manufacturer/warmline.html" target=_self>Warmline</a><div class=custom__block></div></li><li class="level--3 0"><a href="drylining-plasters/manufacturer/fermacell.html" target=_self> Fermacell</a><div class=custom__block></div></li><li class="level--3 0"><a href="drylining-plasters/manufacturer/ecotherm.html" target=_self> Ecotherm</a><div class=custom__block></div></li><li class="level--3 0"><a href="drylining-plasters/manufacturer/building-materials.html" target=_self>BuildingMaterials.co.uk</a><div class=custom__block></div></li><li class="level--3 0"><a href="drylining-plasters/manufacturer/recticel.html" target=_self> Recticel</a><div class=custom__block></div></li><li class="level--3 0"><a href="drylining-plasters/manufacturer/all-manufacturers.html" target=_self> All Manufacturers</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 haschildren children--2"><a href="drylining-plasters/metal-stud.html" target=_self>Metal Stud</a> <ul> <li class="level--3 0"><a href="drylining-plasters/metal-stud/c-stud.html" target=_self>Stud & Track</a><div class=custom__block></div></li><li class="level--3 0"><a href="drylining-plasters/metal-stud/mf-ceiling.html" target=_self>MF Ceiling</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 haschildren children--2"><a href="drylining-plasters/steel-frame-system.html" target=_self>Steel Frame Systems</a> <ul> <li class="level--3 0"><a href="drylining-plasters/steel-frame-system/sfs-track-stud.html" target=_self>SFS Track & Stud</a><div class=custom__block></div></li><li class="level--3 0"><a href="drylining-plasters/steel-frame-system/sfs-accessories.html" target=_self>SFS Accessories</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 haschildren children--3"><a href="drylining-plasters/plasterboard-accessories.html" target=_self>Plasterboard Accessories</a> <ul> <li class="level--3 0"><a href="drylining-plasters/plasterboard-accessories/adhesives-compounds-plaster-finishing.html" target=_self>Adhesives, Compound, Plaster & Finishing</a><div class=custom__block></div></li><li class="level--3 0"><a href="drylining-plasters/plasterboard-accessories/aluminium-drywall-profiles.html" target=_self>Aluminium Drywall Profiles</a><div class=custom__block></div></li><li class="level--3 0"><a href="drylining-plasters/plasterboard-accessories/coving.html" target=_self>Coving</a><div class=custom__block></div></li><li class="level--3 0"><a href="drylining-plasters/plasterboard-accessories/fixings.html" target=_self>Fixings</a><div class=custom__block></div></li><li class="level--3 0"><a href="drylining-plasters/plasterboard-accessories/metal-beads.html" target=_self>Bead, Tape & Jointing</a><div class=custom__block></div></li><li class="level--3 0"><a href="drylining-plasters/plasterboard-accessories/tools.html" target=_self>Tools</a><div class=custom__block></div></li></ul><div class=custom__block></div></li></ul><div class=custom__block><p><a href="trade-account.html"><picture><source type="image/webp" srcset="https://www.buildingmaterials.co.uk/media/fishpig/webp/BMN/All_site/JamesR.webp"/><img src="media/BMN/All_site/JamesR.png" alt=James class=no-lazyload /></picture></a></p></div></li><li class="level--1 haschildren children--3"><a href="insulation.html" target=_self>Insulation</a> <ul> <li class="level--2 haschildren children--3"><a href="insulation/thermal.html" target=_self>Thermal</a> <ul> <li class="level--3 0"><a href="insulation/thermal/floor.html" target=_self>Floor</a><div class=custom__block></div></li><li class="level--3 0"><a href="insulation/thermal/loft.html" target=_self>Loft</a><div class=custom__block></div></li><li class="level--3 0"><a href="insulation/thermal/roof.html" target=_self>Roof</a><div class=custom__block></div></li><li class="level--3 0"><a href="insulation/thermal/external-wall.html" target=_self>External Wall</a><div class=custom__block></div></li><li class="level--3 0"><a href="insulation/thermal/cavity-wall.html" target=_self>Cavity Wall</a><div class=custom__block></div></li><li class="level--3 0"><a href="insulation/thermal/internal-wall.html" target=_self>Internal Wall</a><div class=custom__block></div></li><li class="level--3 0"><a href="insulation/thermal/ceilings.html" target=_self>Ceilings</a><div class=custom__block></div></li><li class="level--3 0"><a href="insulation/thermal/pipe.html" target=_self>Pipe</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 haschildren children--3"><a href="insulation/acoustic.html" target=_self>Acoustic</a> <ul> <li class="level--3 0"><a href="insulation/acoustic/floor.html" target=_self>Floor</a><div class=custom__block></div></li><li class="level--3 0"><a href="insulation/acoustic/loft.html" target=_self>Loft</a><div class=custom__block></div></li><li class="level--3 0"><a href="insulation/acoustic/roof.html" target=_self>Roof</a><div class=custom__block></div></li><li class="level--3 0"><a href="insulation/acoustic/ceilings.html" target=_self>Ceilings</a><div class=custom__block></div></li><li class="level--3 0"><a href="insulation/acoustic/pipe.html" target=_self>Pipe</a><div class=custom__block></div></li><li class="level--3 0"><a href="insulation/acoustic/internal-wall.html" target=_self>Internal Wall</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 haschildren children--3"><a href="insulation/brand.html" target=_self>Manufacturer</a> <ul> <li class="level--3 0"><a href="insulation/brand/celotex.html" target=_self>Celotex</a><div class=custom__block></div></li><li class="level--3 0"><a href="insulation/brand/isover.html" target=_self>Isover</a><div class=custom__block></div></li><li class="level--3 0"><a href="insulation/brand/kingspan.html" target=_self>Kingspan</a><div class=custom__block></div></li><li class="level--3 0"><a href="insulation/brand/knauf.html" target=_self>Knauf</a><div class=custom__block></div></li><li class="level--3 0"><a href="insulation/brand/recticel.html" target=_self>Recticel</a><div class=custom__block></div></li><li class="level--3 0"><a href="insulation/brand/rockwool.html" target=_self>Rockwool</a><div class=custom__block></div></li><li class="level--3 0"><a href="insulation/brand/all-insulation-manufacturers.html" target=_self> All Manufacturers</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 haschildren children--3"><a href="insulation/accessories.html" target=_self>Accessories</a> <ul> <li class="level--3 0"><a href="insulation/accessories/fixings.html" target=_self>Fixings</a><div class=custom__block></div></li><li class="level--3 0"><a href="insulation/accessories/sealants.html" target=_self>Sealants</a><div class=custom__block></div></li><li class="level--3 0"><a href="insulation/accessories/tapes.html" target=_self>Tapes</a><div class=custom__block></div></li></ul><div class=custom__block></div></li></ul><div class=custom__block><p><a href="trade-account.html"><picture><source type="image/webp" srcset="https://www.buildingmaterials.co.uk/media/fishpig/webp/BMN/All_site/KaineB.webp"/><img src="media/BMN/All_site/KaineB.png" alt=Kaine class=no-lazyload /></picture></a></p></div></li><li class="level--1 haschildren children--3"><a href="ceilings.html" target=_self>Ceilings</a> <ul> <li class="level--2 0"><a href="ceilings/mf-plasterboard-ceilings.html" target=_self>MF Plasterboard Ceilings</a><div class=custom__block></div></li><li class="level--2 haschildren children--3"><a href="ceilings/suspended-ceiling-tiles.html" target=_self>Suspended Ceiling Tiles</a> <ul> <li class="level--3 0"><a href="ceilings/suspended-ceiling-tiles/metal-ceiling-tiles.html" target=_self> Metal Ceiling Tiles</a><div class=custom__block></div></li><li class="level--3 0"><a href="ceilings/suspended-ceiling-tiles/performance-ceiling-tiles.html" target=_self> Performance Ceiling Tiles</a><div class=custom__block></div></li><li class="level--3 0"><a href="ceilings/suspended-ceiling-tiles/general-purpose-ceiling-tiles.html" target=_self> General Purpose Ceiling Tiles</a><div class=custom__block></div></li><li class="level--3 0"><a href="ceilings/suspended-ceiling-tiles/gypsum-ceiling-tiles.html" target=_self> Gypsum Ceiling Tiles</a><div class=custom__block></div></li><li class="level--3 0"><a href="ceilings/suspended-ceiling-tiles/led-panels.html" target=_self>LED Panels</a><div class=custom__block></div></li><li class="level--3 0"><a href="ceilings/suspended-ceiling-tiles/armstrong.html" target=_self>Armstrong</a><div class=custom__block></div></li><li class="level--3 0"><a href="index.html#notexist" target=_self>SAS</a><div class=custom__block></div></li><li class="level--3 0"><a href="ceilings/suspended-ceiling-tiles/british-gypsum.html" target=_self>British Gypsum</a><div class=custom__block></div></li><li class="level--3 0"><a href="ceilings/suspended-ceiling-tiles/all-manufacturers.html" target=_self> All Manufacturers</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 haschildren children--3"><a href="ceilings/suspended-ceiling-grid.html" target=_self>Suspended Ceiling Grid</a> <ul> <li class="level--3 0"><a href="ceilings/suspended-ceiling-grid/24mm-grid.html" target=_self> 24mm Grid</a><div class=custom__block></div></li><li class="level--3 0"><a href="ceilings/suspended-ceiling-grid/15mm-grid.html" target=_self> 15mm Grid</a><div class=custom__block></div></li><li class="level--3 0"><a href="ceilings/suspended-ceiling-grid/black-exposed-system.html" target=_self> Black Exposed System</a><div class=custom__block></div></li><li class="level--3 0"><a href="ceilings/suspended-ceiling-grid/corrosion-resistant.html" target=_self> Corrosion Resistant</a><div class=custom__block></div></li><li class="level--3 0"><a href="ceilings/suspended-ceiling-grid/standard-exposed-system.html" target=_self> Standard Exposed System</a><div class=custom__block></div></li><li class="level--3 0"><a href="ceilings/suspended-ceiling-grid/specialist-systems.html" target=_self> Specialist Systems</a><div class=custom__block></div></li><li class="level--3 0"><a href="ceilings/suspended-ceiling-grid/armstrong.html" target=_self>Armstrong</a><div class=custom__block></div></li><li class="level--3 0"><a href="ceilings/suspended-ceiling-grid/buildingmaterials-co-uk.html" target=_self>BuildingMaterials.co.uk</a><div class=custom__block></div></li><li class="level--3 0"><a href="ceilings/suspended-ceiling-grid/sas.html" target=_self>SAS</a><div class=custom__block></div></li><li class="level--3 0"><a href="ceilings/suspended-ceiling-grid/british-gypsum.html" target=_self>British Gypsum</a><div class=custom__block></div></li><li class="level--3 0"><a href="ceilings/suspended-ceiling-grid/all-ceiling-grid-manufacturers.html" target=_self> All Ceiling Grid Manufacturers</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 haschildren children--3"><a href="ceilings/suspended-ceiling-accessories.html" target=_self>Suspended Ceiling Accessories</a> <ul> <li class="level--3 0"><a href="ceilings/suspended-ceiling-accessories/brackets-fixings-accessories.html" target=_self>Brackets, Fixings & Accessories</a><div class=custom__block></div></li><li class="level--3 0"><a href="ceilings/suspended-ceiling-accessories/cavity-barrier.html" target=_self>Cavity Barrier</a><div class=custom__block></div></li><li class="level--3 0"><a href="ceilings/suspended-ceiling-accessories/galvanised-section.html" target=_self>Galvanised Section</a><div class=custom__block></div></li><li class="level--3 0"><a href="ceilings/suspended-ceiling-accessories/insulation-pads.html" target=_self>Insulation Pads</a><div class=custom__block></div></li><li class="level--3 0"><a href="ceilings/suspended-ceiling-accessories/lighting.html" target=_self>Lighting</a><div class=custom__block></div></li><li class="level--3 0"><a href="ceilings/suspended-ceiling-accessories/tools.html" target=_self>Tools</a><div class=custom__block></div></li></ul><div class=custom__block></div></li></ul><div class=custom__block><p><a href="trade-account.html"><picture><source type="image/webp" srcset="https://www.buildingmaterials.co.uk/media/fishpig/webp/BMN/All_site/OranY.webp"/><img src="media/BMN/All_site/OranY.png" alt=Oran class=no-lazyload /></picture></a></p></div></li><li class="level--1 haschildren children--3"><a href="timber-joinery.html" target=_self>Timber & Joinery</a> <ul> <li class="level--2 haschildren children--3"><a href="timber-joinery/carcassing-cls.html" target=_self>Carcassing & CLS</a> <ul> <li class="level--3 0"><a href="timber-joinery/carcassing-cls/cls.html" target=_self>CLS</a><div class=custom__block></div></li><li class="level--3 0"><a href="timber-joinery/carcassing-cls/treated-timber.html" target=_self>Treated Timber</a><div class=custom__block></div></li><li class="level--3 0"><a href="timber-joinery/carcassing-cls/structural-timber.html" target=_self>Structural Timber</a><div class=custom__block></div></li><li class="level--3 0"><a href="timber-joinery/carcassing-cls/pse.html" target=_self>PSE</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 haschildren children--3"><a href="timber-joinery/sheet-materials.html" target=_self>Sheet Materials</a> <ul> <li class="level--3 0"><a href="timber-joinery/sheet-materials/chipboard.html" target=_self>Chipboard</a><div class=custom__block></div></li><li class="level--3 0"><a href="timber-joinery/sheet-materials/mdf.html" target=_self>MDF</a><div class=custom__block></div></li><li class="level--3 0"><a href="timber-joinery/sheet-materials/osb.html" target=_self>OSB</a><div class=custom__block></div></li><li class="level--3 0"><a href="timber-joinery/sheet-materials/plywood.html" target=_self>Plywood</a><div class=custom__block></div></li><li class="level--3 0"><a href="timber-joinery/sheet-materials/fibreboard.html" target=_self>Fibreboard</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 haschildren children--2"><a href="timber-joinery/acoustic-flooring.html" target=_self>Acoustic Flooring</a> <ul> <li class="level--3 0"><a href="timber-joinery/acoustic-flooring/accessories.html" target=_self>Accessories</a><div class=custom__block></div></li><li class="level--3 0"><a href="timber-joinery/acoustic-flooring/flooring.html" target=_self>Flooring</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 haschildren children--3"><a href="timber-joinery/doors.html" target=_self>Doors</a> <ul> <li class="level--3 0"><a href="building-materials/doors/external.html" target=_self> External</a><div class=custom__block></div></li><li class="level--3 0"><a href="timber-joinery/doors/frames-mouldings.html" target=_self> Frames & Mouldings</a><div class=custom__block></div></li><li class="level--3 0"><a href="timber-joinery/doors/ironmongery-furniture.html" target=_self> Ironmongery & Furniture</a><div class=custom__block></div></li><li class="level--3 0"><a href="timber-joinery/doors/glass-packs.html" target=_self> Glass Packs</a><div class=custom__block></div></li><li class="level--3 0"><a href="timber-joinery/doors/hardware.html" target=_self> Hardware</a><div class=custom__block></div></li><li class="level--3 0"><a href="timber-joinery/doors/internal-doors.html" target=_self> Internal Doors</a><div class=custom__block></div></li><li class="level--3 0"><a href="partitioning/office-doors.html" target=_self>Office Doors</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 0"><a href="timber-joinery/skirting.html" target=_self>Skirting</a><div class=custom__block></div></li><li class="level--2 haschildren children--2"><a href="timber-joinery/decking.html" target=_self>Decking</a> <ul> <li class="level--3 0"><a href="timber-joinery/decking/timber-decking.html" target=_self> Timber Decking</a><div class=custom__block></div></li><li class="level--3 0"><a href="timber-joinery/decking/composite-decking.html" target=_self> Composite Decking</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 haschildren children--1"><a href="timber-joinery/fencing.html" target=_self>Fencing</a> <ul> <li class="level--3 0"><a href="timber-joinery/fencing/composite-fencing.html" target=_self> Composite Fencing</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 haschildren children--2"><a href="timber-joinery/external-cladding.html" target=_self>External Cladding</a> <ul> <li class="level--3 0"><a href="timber-joinery/external-cladding/composite-cladding.html" target=_self> Composite Cladding</a><div class=custom__block></div></li><li class="level--3 0"><a href="timber-joinery/external-cladding/fibre-cement-cladding.html" target=_self> Fibre Cement Cladding</a><div class=custom__block></div></li></ul><div class=custom__block></div></li></ul><div class=custom__block><p><a href="trade-account.html"><picture><source type="image/webp" srcset="https://www.buildingmaterials.co.uk/media/fishpig/webp/BMN/All_site/BeckyW3.webp"/><img src="media/BMN/All_site/BeckyW3.png" alt=Becky class=no-lazyload /></picture></a></p></div></li><li class="level--1 haschildren children--3"><a href="partitioning.html" target=_self>Partitioning</a> <ul> <li class="level--2 haschildren children--3"><a href="partitioning/partition-depth.html" target=_self>Partition Systems</a> <ul> <li class="level--3 0"><a href="partitioning/partition-depth/100mm.html" target=_self>100mm</a><div class=custom__block></div></li><li class="level--3 0"><a href="partitioning/partition-depth/75mm.html" target=_self>75mm</a><div class=custom__block></div></li><li class="level--3 0"><a href="partitioning/partition-depth/50mm.html" target=_self>50mm</a><div class=custom__block></div></li><li class="level--3 0"><a href="partitioning/partition-depth/sg.html" target=_self> Frameless Single Glazing</a><div class=custom__block></div></li><li class="level--3 0"><a href="partitioning/partition-depth/dg.html" target=_self> Frameless Double Glazing</a><div class=custom__block></div></li><li class="level--3 0"><a href="partitioning/partition-depth/natural.html" target=_self> Naturel Hardwood Partition System</a><div class=custom__block></div></li><li class="level--3 0"><a href="partitioning/partition-depth/rapide.html" target=_self> Rapide 89mm ClipFit System</a><div class=custom__block></div></li><li class="level--3 0"><a href="partitioning/partition-depth/hardwood.html" target=_self> XP Doors & Windows</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 haschildren children--3"><a href="partitioning/ironmongery-accessories.html" target=_self>Ironmongery & Accessories</a> <ul> <li class="level--3 0"><a href="partitioning/ironmongery-accessories/door-furniture.html" target=_self> Door Furniture</a><div class=custom__block></div></li><li class="level--3 0"><a href="partitioning/ironmongery-accessories/door-controls.html" target=_self> Door Controls</a><div class=custom__block></div></li><li class="level--3 0"><a href="partitioning/ironmongery-accessories/glass-hardware.html" target=_self> Glass Hardware</a><div class=custom__block></div></li><li class="level--3 0"><a href="partitioning/ironmongery-accessories/locks.html" target=_self> Locks</a><div class=custom__block></div></li><li class="level--3 0"><a href="partitioning/ironmongery-accessories/ironmongery-extras.html" target=_self> Ironmongery Extras</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 haschildren children--3"><a href="partitioning/office-doors.html" target=_self>Office Doors</a> <ul> <li class="level--3 0"><a href="partitioning/office-doors/ash.html" target=_self>Ash</a><div class=custom__block></div></li><li class="level--3 0"><a href="partitioning/office-doors/cherry.html" target=_self>Cherry</a><div class=custom__block></div></li><li class="level--3 0"><a href="partitioning/office-doors/koto.html" target=_self>Koto</a><div class=custom__block></div></li><li class="level--3 0"><a href="partitioning/office-doors/maple.html" target=_self>Maple</a><div class=custom__block></div></li><li class="level--3 0"><a href="partitioning/office-doors/paint-grade.html" target=_self>Paint Grade</a><div class=custom__block></div></li><li class="level--3 0"><a href="partitioning/office-doors/sapele.html" target=_self>Sapele</a><div class=custom__block></div></li><li class="level--3 0"><a href="partitioning/office-doors/steamed-beech.html" target=_self>Steamed Beech</a><div class=custom__block></div></li><li class="level--3 0"><a href="partitioning/office-doors/white-oak.html" target=_self>White Oak</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 0"><a href="partitioning/muraspec-wallcoverings.html" target=_self>Muraspec Wallcoverings</a><div class=custom__block></div></li><li class="level--2 0"><a href="partitioning/glass-partitioning.html" target=_self>Glass Partitioning</a><div class=custom__block></div></li></ul><div class=custom__block><p><a href="trade-account.html"><picture><source type="image/webp" srcset="https://www.buildingmaterials.co.uk/media/fishpig/webp/BMN/All_site/PaulR.webp"/><img src="media/BMN/All_site/PaulR.png" alt=Paul class=no-lazyload /></picture></a></p></div></li><li class="level--1 haschildren children--3"><a href="commercial.html" target=_self>Commercial</a> <ul> <li class="level--2 0"><a href="commercial/social-isolation-and-protection.html" target=_self>Social Isolation and Protection</a><div class=custom__block></div></li><li class="level--2 haschildren children--3"><a href="commercial/protective-coverings.html" target=_self>Protective Coverings</a> <ul> <li class="level--3 0"><a href="commercial/protective-coverings/adhesive-tapes.html" target=_self>Adhesive Tapes</a><div class=custom__block></div></li><li class="level--3 0"><a href="commercial/protective-coverings/ancillaries.html" target=_self>Ancillaries</a><div class=custom__block></div></li><li class="level--3 0"><a href="commercial/protective-coverings/door-protection.html" target=_self>Door Protection</a><div class=custom__block></div></li><li class="level--3 0"><a href="commercial/protective-coverings/floor-protection.html" target=_self>Floor Protection</a><div class=custom__block></div></li><li class="level--3 0"><a href="commercial/protective-coverings/kitchen-bathroom.html" target=_self>Kitchen & Bathroom</a><div class=custom__block></div></li><li class="level--3 0"><a href="commercial/protective-coverings/personal-protection.html" target=_self>Personal Protection</a><div class=custom__block></div></li><li class="level--3 0"><a href="commercial/protective-coverings/scaffolding-protection.html" target=_self>Scaffolding Protection</a><div class=custom__block></div></li><li class="level--3 0"><a href="commercial/protective-coverings/stair-protection.html" target=_self>Stair Protection</a><div class=custom__block></div></li><li class="level--3 0"><a href="commercial/protective-coverings/temporary-screening.html" target=_self>Temporary Screening</a><div class=custom__block></div></li><li class="level--3 0"><a href="commercial/protective-coverings/windows-sills.html" target=_self>Windows & Sills</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 haschildren children--3"><a href="commercial/fire-protection-products.html" target=_self>Fire Protection Products</a> <ul> <li class="level--3 0"><a href="commercial/fire-protection-products/british-gypsum.html" target=_self>British Gypsum</a><div class=custom__block></div></li><li class="level--3 0"><a href="commercial/fire-protection-products/promat.html" target=_self>Promat</a><div class=custom__block></div></li><li class="level--3 0"><a href="commercial/fire-protection-products/rockwool.html" target=_self>Rockwool</a><div class=custom__block></div></li><li class="level--3 0"><a href="commercial/fire-protection-products/boards-tiles.html" target=_self>Boards & Tiles</a><div class=custom__block></div></li><li class="level--3 0"><a href="commercial/fire-protection-products/fireproof-insulation.html" target=_self>Insulation</a><div class=custom__block></div></li><li class="level--3 0"><a href="commercial/fire-protection-products/accessories-fixings.html" target=_self>Accessories & Fixings</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 haschildren children--3"><a href="commercial/raised-floors.html" target=_self>Raised Floors</a> <ul> <li class="level--3 0"><a href="commercial/raised-floors/accessories.html" target=_self>Accessories</a><div class=custom__block></div></li><li class="level--3 0"><a href="commercial/raised-floors/panels.html" target=_self>Panels</a><div class=custom__block></div></li><li class="level--3 0"><a href="commercial/raised-floors/pedestals.html" target=_self>Pedestals</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 haschildren children--3"><a href="commercial/unistrut.html" target=_self>Unistrut</a> <ul> <li class="level--3 0"><a href="commercial/unistrut/cable-trays.html" target=_self>Cable Trays</a><div class=custom__block></div></li><li class="level--3 0"><a href="commercial/unistrut/cantilever-arms.html" target=_self>Cantilever Arms</a><div class=custom__block></div></li><li class="level--3 0"><a href="commercial/unistrut/channel-strut.html" target=_self>Channel Strut</a><div class=custom__block></div></li><li class="level--3 0"><a href="commercial/unistrut/vertical-supports.html" target=_self>Vertical Supports</a><div class=custom__block></div></li><li class="level--3 0"><a href="commercial/unistrut/unistrut-accessories.html" target=_self>Accessories</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 haschildren children--2"><a href="commercial/cladding.html" target=_self>Hygienic Cladding</a> <ul> <li class="level--3 0"><a href="commercial/cladding/altro-whiterock.html" target=_self>Altro Whiterock</a><div class=custom__block></div></li><li class="level--3 0"><a href="commercial/cladding/hi-clad.html" target=_self>Hi-Clad</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 haschildren children--3"><a href="commercial/flooring.html" target=_self>Flooring</a> <ul> <li class="level--3 0"><a href="commercial/flooring/adhesives.html" target=_self>Adhesives</a><div class=custom__block></div></li><li class="level--3 0"><a href="commercial/flooring/altro-safety-flooring.html" target=_self>Altro Safety Flooring</a><div class=custom__block></div></li><li class="level--3 0"><a href="commercial/flooring/carpet-tiles.html" target=_self>Carpet Tiles</a><div class=custom__block></div></li><li class="level--3 0"><a href="commercial/flooring/contract-sheet-carpet.html" target=_self>Contract Sheet Carpet</a><div class=custom__block></div></li><li class="level--3 0"><a href="commercial/flooring/luxury-vinyl-accessories.html" target=_self>Luxury Vinyl Accessories</a><div class=custom__block></div></li><li class="level--3 0"><a href="commercial/flooring/luxury-vinyl-tiles.html" target=_self>Luxury Vinyl Tiles</a><div class=custom__block></div></li><li class="level--3 0"><a href="commercial/flooring/soundproofing.html" target=_self>Soundproofing</a><div class=custom__block></div></li><li class="level--3 0"><a href="commercial/flooring/vinyl-flooring-tiles.html" target=_self>Vinyl Floor Tiles</a><div class=custom__block></div></li></ul><div class=custom__block></div></li></ul><div class=custom__block><p><a href="trade-account.html"><picture><source type="image/webp" srcset="https://www.buildingmaterials.co.uk/media/fishpig/webp/BMN/All_site/AlexY.webp"/><img src="media/BMN/All_site/AlexY.png" alt=Alex class=no-lazyload /></picture></a></p></div></li><li class="level--1 haschildren children--3"><a href="tools.html" target=_self>Tools</a> <ul> <li class="level--2 0"><a href="tools/power-tools-accessories.html" target=_self>Power Tools & Accessories</a><div class=custom__block></div></li><li class="level--2 0"><a href="tools/hand-tools-access-equipment" target=_self>Hand Tools & Access Equipment</a><div class=custom__block></div></li><li class="level--2 0"><a href="tools/abrasives-fillers-sealants-lubricants.html" target=_self>Abrasives, Fillers, Sealants & Lubricants</a><div class=custom__block></div></li><li class="level--2 0"><a href="tools/home-leisure-garden-car-care.html" target=_self>Home, Leisure, Garden & Car Care</a><div class=custom__block></div></li><li class="level--2 0"><a href="tools/padlocks-door-locks-security.html" target=_self>Padlocks, Door Locks & Security</a><div class=custom__block></div></li><li class="level--2 0"><a href="tools/workwear-tool-storage-safety" target=_self>Workwear, Tool Storage & Safety</a><div class=custom__block></div></li><li class="level--2 0"><a href="tools/adhesives-fixings-hardware" target=_self>Adhesives, Fixings & Hardware</a><div class=custom__block></div></li><li class="level--2 0"><a href="tools/tool-offers.html" target=_self>Tool Offers!</a><div class=custom__block></div></li></ul><div class=custom__block><p><a href="trade-account.html"><picture><source type="image/webp" srcset="https://www.buildingmaterials.co.uk/media/fishpig/webp/BMN/All_site/Blue.webp"/><img class=no-lazyload src="media/BMN/All_site/Blue.png" alt=Tim width=700 height=485></picture></a></p></div></li><li class="level--1 haschildren children--3"><a href="roofing.html" target=_self>Roofing</a> <ul> <li class="level--2 haschildren children--3"><a href="roofing/veluxr.html" target=_self>Velux</a> <ul> <li class="level--3 0"><a href="roofing/veluxr/centre-pivot-windows" target=_self>Centre Pivot Windows</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/veluxr/top-hung-windows.html" target=_self>Top Hung Windows</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/veluxr/conservation-windows.html" target=_self>Conservation Windows</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/veluxr/flat-roof-windows.html" target=_self>Flat Roof Windows</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/veluxr/flashing-kits" target=_self>Flashing Kits</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/veluxr/installation-products" target=_self>Installation Products</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/veluxr/sun-tunnels" target=_self>Sun Tunnels</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/veluxr/cabrio-balcony" target=_self>CABRIO Balcony</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/veluxr/blinds" target=_self>Blinds</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 haschildren children--3"><a href="roofing/glazing-sheets" target=_self>Glazing Sheets</a> <ul> <li class="level--3 0"><a href="roofing/glazing-sheets/twinwall" target=_self>Twinwall</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/glazing-sheets/triplewall" target=_self>Triplewall</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/glazing-sheets/multiwall" target=_self>Multiwall</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/glazing-sheets/glazing-bars" target=_self>Glazing Bars</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/glazing-sheets/accessories" target=_self>Accessories</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 haschildren children--3"><a href="roofing/corrugated-sheets" target=_self>Corrugated Sheets</a> <ul> <li class="level--3 0"><a href="roofing/corrugated-sheets/clear-sheets" target=_self>Clear Sheets</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/corrugated-sheets/bitumen-sheets" target=_self>Bitumen Sheets</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/corrugated-sheets/accessories" target=_self>Accessories</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 haschildren children--3"><a href="roofing/pitched-roofing" target=_self>Pitched Roofing</a> <ul> <li class="level--3 0"><a href="roofing/pitched-roofing/concrete-roof-tiles" target=_self>Concrete Roof Tiles</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/pitched-roofing/clay-roof-tiles" target=_self>Clay Roof Tiles</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/pitched-roofing/man-made-slates" target=_self>Man Made Slates</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/pitched-roofing/fittings-roofing-systems" target=_self>Fittings & Roofing Systems</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/pitched-roofing/lead-flashing" target=_self>Lead Flashing</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 haschildren children--3"><a href="roofing/flat-roofing" target=_self>Flat Roofing</a> <ul> <li class="level--3 0"><a href="roofing/flat-roofing/liquid-waterproofing.html" target=_self>Liquid Waterproofing</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/flat-roofing/epdm-rubber-roofing.html" target=_self>EPDM Rubber Roofing</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/flat-roofing/grp-fibreglass-roofing.html" target=_self>GRP Fibreglass Roofing</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/flat-roofing/insulation.html" target=_self>Insulation</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/flat-roofing/accessories.html" target=_self>Accessories</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--2 haschildren children--3"><a href="roofing/gutters-downpipes.html" target=_self>Gutters & Downpipes</a> <ul> <li class="level--3 0"><a href="roofing/gutters-downpipes/accessories.html" target=_self>Accessories</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/gutters-downpipes/anthracite.html" target=_self>Anthracite</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/gutters-downpipes/black.html" target=_self>Black</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/gutters-downpipes/brown.html" target=_self>Brown</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/gutters-downpipes/caramel.html" target=_self>Caramel</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/gutters-downpipes/cast-iron.html" target=_self>Cast Iron</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/gutters-downpipes/grey.html" target=_self>Grey</a><div class=custom__block></div></li><li class="level--3 0"><a href="roofing/gutters-downpipes/white.html" target=_self>White</a><div class=custom__block></div></li></ul><div class=custom__block></div></li></ul><div class=custom__block><p><a href="trade-account.html"><picture><source type="image/webp" srcset="https://www.buildingmaterials.co.uk/media/fishpig/webp/BMN/All_site/SamB.webp"/><img src="media/BMN/All_site/SamB.png" alt=Sam class="no-lazyload"</a></picture></p></div></li></ul></div>

<!-- Nav BAr ends here -->

                                    <div class="menu menu--secondary"> <ul> <li class="level--1 children--3" data-home=true><a href="index.html" target=_self><svg id=svg-home viewBox="0 0 24 24" style=" width: 15px; fill: white; transform: scale(1.6) translateY(2px); "><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path><path d="M0 0h24v24H0z" fill=none></path></svg></a></li><li class="level--1 0"><a href="support.html" target=_self>Customer Service</a><div class=custom__block></div></li><li class="level--1 0"><a href="index.html" target=_self>Delivery</a><div class=custom__block></div></li><li class="level--1 0"><a href="index.html" target=_self>FAQ</a><div class=custom__block></div></li></ul></div></div></div><div data-aw-csblock-block-name=csblock_home_menu_top></div><div data-aw-csblock-block-name=csblock_home_menu_bottom></div><div class=top-container><div class="widget block block-static-block"> </div></div><div class="widget block block-static-block"> <div class=top-banner> <div class=top-banner__item> <div class=top-banner__item__img><a href="nuts-and-bolts/customer-services/what-makes-us-different.html"><picture><source type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-srcset="/media/fishpig/webp/static/frontend/Rixxo/bm/en_GB/images/icons/Barrow.webp"/><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Save Time and Money" width=105 height=105 data-src="/static/version1643217956/frontend/Rixxo/bm/en_GB/images/icons/Barrow.png"/></picture></a></div>

                                    <div class=top-banner__item__text> <div class=top-banner__item__text--large>One Stop Shop</div><div class=top-banner__item__text--small>Everything a call or click away</div></div></div><div class=top-banner__item>
                                     <div class=top-banner__item__img><a href="#"><picture><source type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-srcset="/media/fishpig/webp/static/frontend/Rixxo/bm/en_GB/images/icons/Truck.webp"/><img style="vertical-align: middle;" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Speedy Delivery" width=100 height=100 data-src="/static/version1643217956/frontend/Rixxo/bm/en_GB/images/icons/Truck.png"/></picture></a></div><div class=top-banner__item__text--large></div><div class=top-banner__item__text--large></div><div class=top-banner__item__text> <div class=top-banner__item__text--large>Speedy Delivery</div><div class=top-banner__item__text--small>Nationwide delivery on all orders</div></div></div><div class=top-banner__item> <div class=top-banner__item__img><a href="nuts-and-bolts/customer-services/what-makes-us-different.html"><picture><source type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-srcset="/media/fishpig/webp/static/frontend/Rixxo/bm/en_GB/images/icons/Watch.webp"/><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="One Stop Shop" width=100 height=100 data-src="/static/version1643217956/frontend/Rixxo/bm/en_GB/images/icons/Watch.png"/></picture></a></div><div class=top-banner__item__text> <div class=top-banner__item__text--large>Save Time and Money</div><div class=top-banner__item__text--small>Quick, easy and hassle free</div></div></div><div class=top-banner__item> <div class=top-banner__item__img><a href="nuts-and-bolts/customer-services/what-makes-us-different.html"><picture><source type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-srcset="/media/fishpig/webp/static/frontend/Rixxo/bm/en_GB/images/icons/Builder.webp"/><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Trade Service" width=100 height=100 data-src="/static/version1643217956/frontend/Rixxo/bm/en_GB/images/icons/Builder.png"/></picture></a></div>



                                     <div class=top-banner__item__text> <div class=top-banner__item__text--large>Trade Service</div><div class=top-banner__item__text--small>Dedicated account managers</div></div></div></div></div> 

                                     <main id=maincontent class=page-main><a id=contentarea tabindex=-1></a> <div class=page-title-wrapper>
                                          <h1 class=page-title> <span class=base data-ui-id=page-title-wrapper>Building Materials &amp; Building Supplies | Trade, Self-Build &amp; DIY | Buildingmaterials.co.uk</span> </h1> 


                                     </div><div class="page messages"><div data-placeholder=messages></div><div data-bind="scope: 'messages'"> <!-- ko if: cookieMessages && cookieMessages.length > 0 --><div role=alert data-bind="foreach: { data: cookieMessages, as: 'message' }" class=messages> <div data-bind="attr: { class: 'message-' + message.type + ' ' + message.type + ' message', 'data-ui-id': 'message-' + message.type }"> <div data-bind="html: $parent.prepareMessageForHtml(message.text)"></div></div></div><!-- /ko --><!-- ko if: messages().messages && messages().messages.length > 0 --><div role=alert data-bind="foreach: { data: messages().messages, as: 'message' }" class=messages> <div data-bind="attr: { class: 'message-' + message.type + ' ' + message.type + ' message', 'data-ui-id': 'message-' + message.type }"> <div data-bind="html: $parent.prepareMessageForHtml(message.text)"></div></div></div><!-- /ko --></div></div><div class=columns><div class="column main"> <div data-aw-csblock-block-name=csblock_home_content_top></div> <input name=form_key type=hidden value=jyFM7wrrPoTCd2OL><div id=authenticationPopup data-bind="scope:'authenticationPopup', style: {display: 'none'}"> <!-- ko template: getTemplate() --><!-- /ko --></div><div class="widget block block-static-block"> <div class="lmrx-carousel lmrx-carousel--full-window-width lmrx-carousel--with-content"> <div class=lmrx-carousel__items> <div class=lmrx-carousel__items__item> <div class="lmrx-carousel__items__item__image lmrx-carousel__items__item__image--bg"> <a class=banner-link href="trade-account.html"> <picture><source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" media="(max-width: 767px)" data-srcset="media/wysiwyg/Banners/Mobile_1_-_.png"/><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Trade Account Manager" data-src="media/wysiwyg/Banners/desktop_1_-v2.png"/></picture></a></div></div><div class=lmrx-carousel__items__item> <div class="lmrx-carousel__items__item__image lmrx-carousel__items__item__image--bg"> <a class=banner-link href="tools.html"> 
                                         <picture><source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" media="(max-width: 767px)" data-srcset="media/wysiwyg/Banners/Mobile_2_-.png"/><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt=Toolbank data-src="media/wysiwyg/Banners/desktop_2_-v2.png"/></picture></a></div></div><div class=lmrx-carousel__items__item> <div class="lmrx-carousel__items__item__image lmrx-carousel__items__item__image--bg"> <a class=banner-link href="building-materials/lintels.html"> <picture><source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" media="(max-width: 767px)" data-srcset="media/wysiwyg/Banners/Mobile_3_-_.png"/><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Lintels IG and Birtley" data-src="media/wysiwyg/Banners/desktop_3_-v2.png"/></picture></a></div></div><div class=lmrx-carousel__items__item> <div class="lmrx-carousel__items__item__image lmrx-carousel__items__item__image--bg"> <a class=banner-link href="commercial/cladding/hi-clad.html"> <picture><source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" media="(max-width: 767px)" data-srcset="media/wysiwyg/Banners/Mobile_4_-.png"/><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt=Hi-clad data-src="media/wysiwyg/Banners/desktop_4_-v2.png"/></picture></a></div></div><div class=lmrx-carousel__items__item> <div class="lmrx-carousel__items__item__image lmrx-carousel__items__item__image--bg"> <a class=banner-link href="commercial/protective-coverings.html"> <picture><source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" media="(max-width: 767px)" data-srcset="media/wysiwyg/Banners/Mobile_5_-.png"/><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Protective Coverings" data-src="media/wysiwyg/Banners/desktop_5_-v2.png"/></picture></a></div></div></div><div class=lmrx-carousel__controls> <div class="lmrx-carousel__controls__control lmrx-carousel__controls__control--prev"></div><div class="lmrx-carousel__controls__control lmrx-carousel__controls__control--next"></div><div class="lmrx-carousel__controls__control lmrx-carousel__controls__control--grid"> <div class=lmrx-carousel__controls__control__grid-item>&nbsp;</div><div class=lmrx-carousel__controls__control__grid-item>&nbsp;</div><div class=lmrx-carousel__controls__control__grid-item>&nbsp;</div><div class=lmrx-carousel__controls__control__grid-item>&nbsp;</div><div class=lmrx-carousel__controls__control__grid-item>&nbsp;</div></div></div></div><div class=lmrx-featured-grid> <h2 class=lmrx-featured-grid__title>Shop The Materials You Need</h2> 

<!-- Items list for category -->
                                          <div class=lmrx-featured-grid__list> 




                                             <div class=lmrx-featured-grid__list__item> 
                                              <a href="commercial.html"> 
                                              <div class=lmrx-featured-grid__list__item__image>
                                              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width=390 data-src="/pub/media/catalog/category/C7.jpg"/></div>

                                              <div class=lmrx-featured-grid__list__item__text>
                                                <div class=lmrx-featured-grid__list__item__action>Browse</div>

                                                <div class=lmrx-featured-grid__list__item__title>Commercial</div></div></a></div>



                                                <div class=lmrx-featured-grid__list__item> <a href="roofing.html"> 
                                                  <div class=lmrx-featured-grid__list__item__image><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width=390 data-src="/pub/media/catalog/category/Brick_Cat_Image.jpg"/>
                                                  </div>
                                                  <div class=lmrx-featured-grid__list__item__text> <div class=lmrx-featured-grid__list__item__action>Browse</div>

                                                  <div class=lmrx-featured-grid__list__item__title>Roofing</div>
                                                </div>
                                              </a>
                                            </div>

                                            

                                            <div class=lmrx-featured-grid__list__item> <a href="timber-joinery.html">
                                              <div class=lmrx-featured-grid__list__item__image><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width=390 data-src="/pub/media/catalog/category/C5.jpg"/></div>

                                              <div class=lmrx-featured-grid__list__item__text> <div class=lmrx-featured-grid__list__item__action>Browse</div>
                                              <div class=lmrx-featured-grid__list__item__title>Timber &amp; Sheet</div></div></a></div>



                                           </div>


                                         </div></div><div class="widget block block-static-block"> </div><div class="widget block block-static-block"> </div><div class="widget block block-static-block"> </div><div class="widget block block-static-block"> </div> <h2 class=home_info_cards>The Nuts & Bolts</h2> <div class=row-nuts> <div class=info-cards> <a href="nuts-and-bolts/guides.html" class="card card-with-icon card-guides"> <img class=card-icon src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="How to Guides Icon" data-src="/static/version1643217956/frontend/Rixxo/bm/en_GB/images/icon-how-to-guides.svg"/> <h2>How to Guides</h2> </a></div><div class=info-cards> <a href="nuts-and-bolts/product-data-information.html" class="card card-with-icon card-product-info"> <img class=card-icon src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Product Information Icon" data-src="/static/version1643217956/frontend/Rixxo/bm/en_GB/images/icon-product-info.svg"/> <h2>Product Information &amp; Data sheets</h2> </a></div><div class=info-cards> <a href="nuts-and-bolts/resources.html" class="card card-with-icon card-resources"> <img class=card-icon src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Resources Icon" data-src="/static/version1643217956/frontend/Rixxo/bm/en_GB/images/icon-resources.svg"/> <h2>Resources</h2> </a></div><div class=info-cards> <a href="nuts-and-bolts/customer-services.html" class="card card-with-icon card-faqs"> <img class=card-icon src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="FAQs Icon" data-src="/static/version1643217956/frontend/Rixxo/bm/en_GB/images/icon-faqs.svg"/> <h2>Customer Services</h2> </a></div><div class=info-cards> <a href="nuts-and-bolts/news-and-events.html" class="card card-with-icon card-news"> <img class=card-icon src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="News &amp; Events Icon" data-src="/static/version1643217956/frontend/Rixxo/bm/en_GB/images/icon-news-and-events.svg"/> <h2>News &amp; Events</h2> </a>
                                            </div><div class=info-cards> <a href="nuts-and-bolts/charity-events.html" class="card card-with-icon card-charity"> <img class=card-icon src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Charity Support Icon" data-src="static/version1643217956/frontend/Rixxo/bm/en_GB/images/icon-charity.svg"/> <h2>Charity Support &amp; Sustainability</h2> </a></div><div class=info-cards> <a href="nuts-and-bolts/events.html" class="card card-with-icon card-company"> <img class=card-icon src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Company Events Icon" data-src="static/version1643217956/frontend/Rixxo/bm/en_GB/images/icon-events.svg"/>
                                                 <h2>Company Events</h2> </a></div><div class=info-cards> <a href="nuts-and-bolts/meet-the-team.html" class="card card-with-icon card-meet-the-team"> <img class=card-icon src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Meet the Team Icon" data-src="static/version1643217956/frontend/Rixxo/bm/en_GB/images/icon-meet-the-team.svg"/> <h2>Meet the Team</h2> </a></div><div class=info-cards> <a href="nuts-and-bolts/case-studies.html" class="card card-with-icon card-case-studies"> <img class=card-icon src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Case Studies Icon" data-src="static/version1643217956/frontend/Rixxo/bm/en_GB/images/icon-case-studies.svg"/> <h2>Case Studies</h2> </a></div></div><style xml="space">.row-nuts{display:flex;margin-left:-15px;margin-right:-15px;flex-wrap:wrap;box-sizing:border-box}.card-with-icon{display:flex;box-shadow:0px 12px 12px rgb(0 0 0/15%);border-radius:6px;margin-bottom:40px;padding:0 25px;align-items:center;flex-direction:column;height:100%}.card-with-icon .card-icon{box-sizing:border-box;width:40px;margin-top:20px}h2.home_info_cards{font-size:38px;line-height:52px;color:#1b3990;font-weight:700}.info-cards{width:50%;box-sizing:border-box;margin-bottom:15px;margin-top:7.5px}.info-cards:nth-child(odd){padding-left:15px;padding-right:7px}.info-cards:nth-child(even){padding-left:7px;padding-right:15px}.info-cards a:hover h2,.info-cards a:hover{text-decoration:none}.card-with-icon.card-guides{background-color:#fad839}.card-with-icon.card-guides h2,.card-with-icon.card-company h2{color:#1b3990}.card-with-icon.card-product-info{background-color:#ca1f26}.card-with-icon.card-product-info h2,.card-with-icon.card-meet-the-team h2{color:#fad839}.card-with-icon.card-product-info h2,.card-with-icon.card-charity h2,.card-with-icon.card-guides h2,.card-with-icon.card-faqs h2,.card-with-icon.card-meet-the-team h2,.card-with-icon.card-company h2,.card-with-icon.card-news h2{line-height:normal}.card-with-icon.card-resources{background-color:#1b3990}.card-with-icon.card-resources h2,.card-with-icon.card-faqs h2,.card-with-icon.card-charity h2{color:#fff}.card-with-icon.card-faqs{background-color:#333}.card-with-icon.card-news,.card-with-icon.card-company,.card-with-icon.card-meet-the-team,.card-with-icon.card-case-studies{background-color:#fff}.card-with-icon.card-news h2{color:#ca1f26}.card-with-icon.card-charity{background-color:#1fca9c}.card-with-icon.card-case-studies h2{color:#333}.info-cards h2{font-weight:700;box-sizing:border-box;font-size:18px;text-align:center}@media (min-width:768px){.info-cards{margin-top:0;margin-bottom:0}.card-with-icon{height:auto;flex-direction:row}.card-with-icon .card-icon{margin-right:20px;margin-top:0}.card-with-icon.card-guides h2,.card-with-icon.card-faqs h2,.card-with-icon.card-meet-the-team h2,.card-with-icon.card-company h2,.card-with-icon.card-news h2{line-height:52px}.card-with-icon .card-icon{margin-right:10px}.info-cards h2{font-size:22px;line-height:52px;text-align:left}.info-cards:nth-child(odd),.info-cards:nth-child(even){padding-left:15px;padding-right:15px}.card-with-icon{height:100px}.card-with-icon .card-icon{width:50px}}@media (min-width:1024px){.card-with-icon .card-icon{margin-right:20px}.card-with-icon{height:124px}.card-with-icon .card-icon{width:66px}.info-cards{width:33%}.info-cards h2{line-height:52px;font-size:24px}}</style>


                                     <div class=reviews-box> <div class=trustpilot-widget data-locale=en-GB data-template-id=53aa8912dec7e10d38f59f36 data-businessunit-id=4f4648aa00006400051316aa data-style-height=140px data-style-width="100%" data-theme=light data-stars="3,4,5" data-review-languages=en> <a href="https://uk.trustpilot.com/review/staging.buildingmaterials.co.uk" target=_blank rel=noopener>Trustpilot</a></div></div></div></div></main>


                                     <div class=page-bottom><div class=content> <div data-aw-csblock-block-name=csblock_home_page_bottom>
                                       
                                     </div>
                                   </div>
                                 </div>
                                 <footer class=page-footer><div class="footer content"><div class="footer links"><div class="menu menu--footer"> <ul> <li class="level--1 children--3" data-home=true><a href="index.html" target=_self><svg id=svg-home viewBox="0 0 24 24" style=" width: 15px; fill: white; transform: scale(1.6) translateY(2px); "><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path><path d="M0 0h24v24H0z" fill=none></path></svg></a></li><li class="level--1 haschildren children--3"><a href="nuts-and-bolts/index.html" target=_self>Information Centre</a> <ul> <li class="level--2 0"><a href="nuts-and-bolts/index.html" target=_self>The Nuts & Bolts</a><div class=custom__block></div></li><li class="level--2 0"><a href="nuts-and-bolts/product-data-information/identify-ceiling-grid-system.html" target=_self>Identify Ceiling Grid System</a><div class=custom__block></div></li><li class="level--2 0"><a href="nuts-and-bolts/resources.html" target=_self>Resources</a><div class=custom__block></div></li><li class="level--2 0"><a href="nuts-and-bolts/customer-services/faqs.html" target=_self>FAQ</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--1 haschildren children--3"><a href="nuts-and-bolts/customer-services.html" target=_self>Customer Service</a> <ul> <li class="level--2 0"><a href="nuts-and-bolts/customer-services/deliveries-and-collections.html" target=_self>Collections</a><div class=custom__block></div></li><li class="level--2 0"><a href="nuts-and-bolts/customer-services/returns-and-refunds.html" target=_self>Returns & Refunds</a><div class=custom__block></div></li><li class="level--2 0"><a href="nuts-and-bolts/customer-services/deliveries-and-collections.html" target=_self>Deliveries</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--1 haschildren children--3"><a href="nuts-and-bolts/customer-services/contact-us.html" target=_self>Contact & Policies</a> <ul> <li class="level--2 0"><a href="nuts-and-bolts/customer-services/contact-us.html" target=_self>Contact Us</a><div class=custom__block></div></li><li class="level--2 0"><a href="nuts-and-bolts/customer-services/about-us.html" target=_self>About Us</a><div class=custom__block></div></li><li class="level--2 0"><a href="nuts-and-bolts/news-and-events/price-increases.html" target=_self>Price Increase Notifications</a><div class=custom__block></div></li></ul><div class=custom__block></div></li><li class="level--1 haschildren children--3"><a href="nuts-and-bolts/customer-services/terms-and-conditions.html" target=_self>Terms & Conditions</a> <ul> <li class="level--2 0"><a href="nuts-and-bolts/customer-services/terms-and-conditions.html" target=_self>Terms & Conditions</a><div class=custom__block></div></li><li class="level--2 0"><a href="nuts-and-bolts/customer-services/privacy-policy.html" target=_self>Privacy Policy</a><div class=custom__block></div></li><li class="level--2 0"><a href="nuts-and-bolts/customer-services/cookie-policy.html" target=_self>Cookie Policy</a><div class=custom__block></div></li></ul><div class=custom__block></div></li></ul></div></div></div></footer> <style>@media only screen and (max-width:767px){.form .search-autocomplete{top:82px !important}.block-search .label{display:none}.amsearch-results .product{width:100%}.block.block-minicart.ui-dialog-content.ui-widget-content{display:none !important}#search_mini_form .field.search .amsearch-wrapper-input #search{position:static}}.amazon-menu{display:none}@media (min-width:768px){.customer-welcome:before{content:"My Account ";display:inline-block}.section__navigation .menu--main .level--1.children--3>ul{height:400px !important}}</style><style>.section__navigation .menu--main .level--1>.custom__block{display:none;position:absolute;z-index:10000;right:0;top:38px;left:55%;width:44vw;overflow:hidden;box-sizing:border-box;padding-top:20px;padding-bottom:20px;height:420px}@media (min-width:1024px){.page-layout-1column .custom__block .block.widget .products-grid .product-item{width:calc((100% - 8%)/3)}}@media (min-width:768px){.menu.menu--secondary{display:none}.menu:not(.menu--main) [data-home]{display:none !important}.level--2>ul{position:absolute;left:33%;top:21px;margin-top:0 !important;display:none;height:100%}.section__navigation .menu--main .level--1.children--3>ul{column-count:1}.section__navigation .menu--main .level--1.children--3>ul>li.level--2{width:66%;display:block;border-bottom:none;padding-right:0;margin-bottom:0}.section__navigation .menu--main .level--1.children--3>ul>li.level--2>a{border:none;position:relative}.level--2:hover>ul{display:block;z-index:10000000000}.section__navigation .menu--main .level--1.children--3>ul>li.level--2.haschildren>a:before{content:"";width:0;height:0;border-style:solid;border-width:7.5px 0 7.5px 7.5px;border-color:transparent transparent transparent #ccc;position:absolute;left:44%;top:2.5px}.section__navigation .menu--main .level--1.children--3>ul>li.level--2:hover>a:before{border-color:transparent transparent transparent #1b3990}.section__navigation .menu--main .level--1.children--3>ul:after{content:"";position:absolute;top:21px;left:31.5%;border-left:1px solid #ccc;height:calc(100% - 42px)}.section__navigation .menu--main .level--3 a:hover{color:#1b3990}.section__navigation .menu--main .level--1{text-align:left}.section__navigation .menu--main .level--2>a{padding-bottom:10px}.section__navigation .menu--main .level--1.children--3>ul{height:384px;max-width:1280px}.section__navigation .menu--main .level--1.haschildren:hover>.custom__block:not(:empty){display:block}.custom__block .block-title strong{font-weight:700 !important;color:#1b3990}.custom__block .products-grid .product-item-info:hover,.custom__block .products-grid .product-item-info.active{box-shadow:none !important;border:none;margin:0;padding:0}.custom__block .products-grid .product-item-info:hover .product-item-inner,.custom__block .products-grid .product-item-info.active .product-item-inner{display:none}.section__navigation .menu--main .level--2>ul{height:375px;overflow:auto;padding-right:20px}.custom__block span.product-image-wrapper{padding-bottom:100% !important}}@media (max-width:1089px) and (min-width:768px){.section__navigation .menu--main .level--1{font-size:1.32rem;margin-right:8px;letter-spacing:-.6px}}@media (max-width:1024px){.custom__block .products-grid .product-item:nth-child(2)~*{display:none}.custom__block .products-grid .product-item{width:calc((100% - 6%)/3) !important}}@media (max-width:768px){.section__navigation .menu--main ul li.current>a{padding:10px 20px;text-align:left}.menu--main li.level--1 a{background:#1b3990;color:#fff;font-weight:700}.menu--main li.level--2 a{background:#fff;color:#1b3990;font-weight:700}.menu--main li.level--3 a{background:#fff;color:#1b3990;font-weight:400}.section__navigation .menu--main>ul>li{display:block}.section__navigation .menu--main ul li.previous ul li{display:block}.section__navigation .menu--main ul li.previous>a{display:block}.section__navigation .menu--main ul li.current>a:before{display:none}.section__navigation .haschildren>a:after{display:block !important}.section__navigation .haschildren>a:after{content:''}.section__navigation .haschildren.previous>a:after,.section__navigation .haschildren.current>a:after{content:''}.header.panel>.header.links{display:none !important}.section__navigation{height:calc(100% - 74px)!important}.menu.menu--secondary a{font-weight:700;background:#eee}.menu [data-home]{display:none !important}.menu--main li.level--1.haschildren:hover a{margin-bottom:0 !important}.section__navigation .menu--main ul li.previous>a{border-bottom:1px solid #c6c6c6}}.section__navigation .menu--main .level--1>.custom__block{max-width:550px}</style><style>@media (min-width:768px){.section__navigation .menu span.nolink{color:#575757}.section__navigation .menu span.nolink{color:#575757}.section__navigation .menu--main .level--2>span.nolink{font-weight:700;display:block}.section__navigation .menu--main .level--2>span.nolink{font-weight:700;display:block}.section__navigation .menu--main .level--2>span.nolink{padding-bottom:10px}.section__navigation .menu--main .level--2.haschildren>span.nolink{padding-bottom:10px}.section__navigation .menu--main .level--1 .level--2>span.nolink{color:#1b3990}.section__navigation .menu--main .level--2.haschildren>span.nolink{padding-bottom:10px}.section__navigation .menu--main .level--1 .level--2>span.nolink{color:#1b3990}.menu--main li.level--1.haschildren:hover span.nolink{margin-bottom:2px!important}.section__navigation .menu--main .level--1.children--3>ul>li.level--2.haschildren>span.nolink:before{content:"";width:0;height:0;border-style:solid;border-width:7.5px 0 7.5px 7.5px;border-color:transparent transparent transparent #ccc;position:absolute;left:44%;top:2.5px}.section__navigation .menu--main .level--1.children--3>ul>li.level--2:hover>span.nolink:before{border-color:transparent transparent transparent #1b3990}span.nolink{position:relative}}</style><style>@media (max-width:768px){span.nolink{display:block}.menu--main li.level--1.haschildren:hover span.nolink{margin-bottom:0 !important}.menu--main li.level--1 span.nolink{background:#1b3990;color:#fff;font-weight:700}.menu--main li.level--2 span.nolink{background:#fff;color:#1b3990;font-weight:700}.section__navigation .haschildren>span.nolink:after{font-size:16px;position:absolute;top:8px;right:20px;content:''}.section__navigation .haschildren.previous>a:after,.section__navigation .haschildren.current>span.nolink:after{content:''}.section__navigation span.nolink{position:relative;display:block;padding:10px 20px}.section__navigation .menu--main ul li.current>span.nolink{border-bottom:1px solid #c6c6c6}}@media (min-width:768px){.section__navigation .menu--main .level--1.children--3:nth-child(6)>ul{column-count:inherit !important}}@media (max-width:1399px){.section__navigation .menu--main .level--1>.custom__block{max-width:39.2%}}.lmrx-carousel.lmrx-carousel--full-window-width.lmrx-carousel--with-content .lmrx-carousel__controls__control--prev{right:calc(100% + -30px) !important}.lmrx-carousel.lmrx-carousel--full-window-width.lmrx-carousel--with-content .lmrx-carousel__controls__control--next{left:calc(100% + -30px) !important}</style><div class=copyright__container> <div class=copyright__inner> <small class=copyright> <span>Copyright  Building Materials Nationwide Ltd All rights reserved.</span></small> <small class=site_by_rixxo> <span>Site by <a href="http://www.rixxo.com/" target=_blank rel="noreferrer noopener">Rixxo</a></span></small></div></div></div>
          </body>

</html>

<script type="text/javascript" > 
var Opti=(function()
  {var pWebP=
    (function(){
      var c=[];c.push([]);
      c.push([]);
      var n='opti-webp',v,x;
      function t(c)
      {s(1,c);};
      function f(c){s(0,c);
      };function s(x,f){c[x].push(f);r();};function v(x){
        v=parseInt(x);r();};
        function r(){if(v!==null &&typeof c[v]==='object')
        {while(c[v].length>0)
          {(c[v].pop())();
          }}};
          function w(x){v(x);var d=new Date;d.setTime(d.getTime()+24*60*60*1000*365);
            document.cookie=n+"="+x+";path=/;expires="+d.toGMTString();};
            if(x=document.cookie.match('(^|;) ?'+n+'=([^;]*)(;|$)')){v(x[2]);}
            else{var i=new Image();i.onerror=w.bind(this,0);i.onload=function(){w(i.width>0&&i.height>0?1:0);};
            i.src='data:image/webp;base64,'+'UklGRiIAAABXRUJQVlA4IBYAAAAwAQCdASoBAAEADsD+JaQAA3AAAAAA';}
            function rElemParams(sel,callback) 
            {[].forEach.call((typeof sel==='string'?document.querySelectorAll(sel):sel),function(e){
              if (!e.hasAttributes()){return;}var ats=e.attributes;for(var i=ats.length-1;i>=0;i--)
              {var n=ats[i].name;if(n&&n.length>5&&n.substr(-5)==='-webp')
              {var nn=n.substr(0,n.length-5);if(nn==='data-href'){nn='href';}
              if(nn==='data-style'){nn='style';}
              if(nn==='src'&&e.src.indexOf('data:image')>-1&&e.getAttribute('data-src')){e.setAttribute('data-src',ats[i].value);}e.setAttribute(nn,ats[i].value);e.removeAttribute(n);}}if(typeof callback!=='undefined'){callback(e);}});};return {on:t,off:f,replaceElemParams:rElemParams};})();return {canMinifyJs:function(){return !0},canMinifyHtml:function(){return !0},isVarnish:function(){return !0},isFrontend:function(){return !0},WebP:pWebP};})()

  if(typeof Opti.LazyLoad === 'undefined') {
    Opti.LazyLoad=(function(){
      var flags = { semaphore: false, pending: false, status: false };
      var db    = { total: 0, current: 0, interval: 250, timeout: 0 };
      var ofs = 0;

      function _flag(t, v) {
        if (typeof v === 'boolean') {
          flags[t] = v;
        }

        return flags[t];
      };

      function _debounce(t, v) {
        if (typeof v !== 'undefined') {
          db[t] = v === '++' ? db[t]+1 : v;
        }

        return db[t];
      };

      function onscroll() {
        _debounce('current', 0);
        ofs = 75;
        if (_debounce('timeout')) {
          clearTimeout(_debounce('timeout'));
          _debounce('timeout', 0), _flag('pending', false), _flag('semaphore', false);
        }

        start();
      };

      function isInView(e) {
        var r = e.getBoundingClientRect();

        return e.offsetParent !== null && r.top <= window.innerHeight+ofs && r.bottom >= 0-ofs;
      };

      function ev(e, a, v) {
        if (v) {
          e.setAttribute(a,v);
          e.removeAttribute('data-' + a);
        }
      };

      function collectImagesAndStart() {
        imgs = document.querySelectorAll('img[data-src],img[data-srcset],iframe[data-src]');

        if (imgs.length > 0) {
          start();
        }
      };

      function start() {
        if (!_flag('status')) {
          window.addEventListener('scroll', onscroll);
          _flag('status', true);
        }

        lazyload();
      };

      function stop() {
        if (_flag('status')) {
          _flag('status', false);
          _flag('pending', false);
          _flag('semaphore', false);

          _debounce('current', 0);

          window.removeEventListener('scroll', onscroll);
        }
      };

      function lazyload() {
        if (!_flag('status')) {
          _flag('semaphore', false);
          _flag('pending', false);

          return false;
        }

        if (_flag('semaphore')) {
          _flag('pending', true);

          return false;
        }

        _flag('pending', false);
        _flag('semaphore', true);

        var len = imgs.length;

        if (len > 0) {
          [].forEach.call(imgs, function(e) {
            var v1 = e.getAttribute('data-src');
            var v2 = e.getAttribute('data-srcset');

            if ((v1 || v2) && isInView(e)) {
              if (e.tagName !== 'IFRAME') {
                var p = e.previousSibling;

                if (p && p.tagName === 'SOURCE') {
                  ev(p, 'srcset', p.getAttribute('data-srcset'));
                }

                ev(e, 'srcset', v2);
              }

              ev(e, 'src', v1);

              len--;
            }
          });
        }

        if (len === 0) {
          stop();
        }
        else {
          _debounce('current', '++');
          _debounce('total', '++');

          var x = 1;

          if (_flag('pending')) {
            _debounce('current', 1);
          }
          else {
            x = _debounce('current') * _debounce('interval');
          }

          setTimeout(function() {
            _debounce('timeout', setTimeout(function() {
              _flag('pending',false);
              _flag('semaphore', false);
              start();
            }, x));
          }, 50);
        }
      };

      collectImagesAndStart();

      document.addEventListener('DOMContentLoaded', function() {
        collectImagesAndStart();

        setTimeout(collectImagesAndStart, 1000);
        setTimeout(collectImagesAndStart, 2000);
        setTimeout(collectImagesAndStart, 4000);
        setTimeout(collectImagesAndStart, 6000);
      });

      return {run: collectImagesAndStart};
    })();

  }
  </script>