<%- include("./header.ejs") %>
  <!-- Nav BAr ends here -->



  <main id=maincontent class=page-main><a id=contentarea tabindex=-1></a>
    <div class=page-title-wrapper>
      <h1 class=page-title> <span class=base data-ui-id=page-title-wrapper>Building Materials &amp; Building Supplies |
          Trade, Self-Build &amp; DIY | Buildingmaterials.co.uk</span> </h1>


    </div>
    <div class="page messages">
      <div data-placeholder=messages></div>
      <div data-bind="scope: 'messages'">
        <!-- ko if: cookieMessages && cookieMessages.length > 0 -->
        <div role=alert data-bind="foreach: { data: cookieMessages, as: 'message' }" class=messages>
          <div
            data-bind="attr: { class: 'message-' + message.type + ' ' + message.type + ' message', 'data-ui-id': 'message-' + message.type }">
            <div data-bind="html: $parent.prepareMessageForHtml(message.text)"></div>
          </div>
        </div><!-- /ko -->
        <!-- ko if: messages().messages && messages().messages.length > 0 -->
        <div role=alert data-bind="foreach: { data: messages().messages, as: 'message' }" class=messages>
          <div
            data-bind="attr: { class: 'message-' + message.type + ' ' + message.type + ' message', 'data-ui-id': 'message-' + message.type }">
            <div data-bind="html: $parent.prepareMessageForHtml(message.text)"></div>
          </div>
        </div><!-- /ko -->
      </div>
    </div>
    <div class=columns>
      <div class="column main">
        <div data-aw-csblock-block-name=csblock_home_content_top></div> <input name=form_key type=hidden
          value=jyFM7wrrPoTCd2OL>
        <div id=authenticationPopup data-bind="scope:'authenticationPopup', style: {display: 'none'}">
          <!-- ko template: getTemplate() -->
          <!-- /ko -->
        </div>
        <div class="widget block block-static-block">
          <div class="lmrx-carousel lmrx-carousel--full-window-width lmrx-carousel--with-content">
            <div class=lmrx-carousel__items>
              <div class=lmrx-carousel__items__item>
                <div class="lmrx-carousel__items__item__image lmrx-carousel__items__item__image--bg"> <a
                    class=banner-link href="trade-account.html">
                    <picture>
                      <source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                        media="(max-width: 767px)" data-srcset="media/wysiwyg/Banners/Mobile_1_-_.png" /><img
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                        alt="Trade Account Manager" data-src="media/wysiwyg/Banners/desktop_1_-v2.png" />
                    </picture>
                  </a></div>
              </div>
              <div class=lmrx-carousel__items__item>
                <div class="lmrx-carousel__items__item__image lmrx-carousel__items__item__image--bg"> <a
                    class=banner-link href="tools.html">
                    <picture>
                      <source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                        media="(max-width: 767px)" data-srcset="media/wysiwyg/Banners/Mobile_2_-.png" /><img
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                        alt=Toolbank data-src="media/wysiwyg/Banners/desktop_2_-v2.png" />
                    </picture>
                  </a></div>
              </div>
              <div class=lmrx-carousel__items__item>
                <div class="lmrx-carousel__items__item__image lmrx-carousel__items__item__image--bg"> <a
                    class=banner-link href="building-materials/lintels.html">
                    <picture>
                      <source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                        media="(max-width: 767px)" data-srcset="media/wysiwyg/Banners/Mobile_3_-_.png" /><img
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                        alt="Lintels IG and Birtley" data-src="media/wysiwyg/Banners/desktop_3_-v2.png" />
                    </picture>
                  </a></div>
              </div>
              <div class=lmrx-carousel__items__item>
                <div class="lmrx-carousel__items__item__image lmrx-carousel__items__item__image--bg"> <a
                    class=banner-link href="commercial/cladding/hi-clad.html">
                    <picture>
                      <source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                        media="(max-width: 767px)" data-srcset="media/wysiwyg/Banners/Mobile_4_-.png" /><img
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt=Hi-clad
                        data-src="media/wysiwyg/Banners/desktop_4_-v2.png" />
                    </picture>
                  </a></div>
              </div>
              <div class=lmrx-carousel__items__item>
                <div class="lmrx-carousel__items__item__image lmrx-carousel__items__item__image--bg"> <a
                    class=banner-link href="commercial/protective-coverings.html">
                    <picture>
                      <source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                        media="(max-width: 767px)" data-srcset="media/wysiwyg/Banners/Mobile_5_-.png" /><img
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                        alt="Protective Coverings" data-src="media/wysiwyg/Banners/desktop_5_-v2.png" />
                    </picture>
                  </a></div>
              </div>
            </div>
            <div class=lmrx-carousel__controls>
              <div class="lmrx-carousel__controls__control lmrx-carousel__controls__control--prev"></div>
              <div class="lmrx-carousel__controls__control lmrx-carousel__controls__control--next"></div>
              <div class="lmrx-carousel__controls__control lmrx-carousel__controls__control--grid">
                <div class=lmrx-carousel__controls__control__grid-item>&nbsp;</div>
                <div class=lmrx-carousel__controls__control__grid-item>&nbsp;</div>
                <div class=lmrx-carousel__controls__control__grid-item>&nbsp;</div>
                <div class=lmrx-carousel__controls__control__grid-item>&nbsp;</div>
                <div class=lmrx-carousel__controls__control__grid-item>&nbsp;</div>
              </div>
            </div>
          </div>
          <div class=lmrx-featured-grid>
            <h2 class=lmrx-featured-grid__title>Shop The Materials You Need</h2>

            <!-- Items list for category -->
            <div class=lmrx-featured-grid__list>




              <div class=lmrx-featured-grid__list__item>
                <a href="commercial.html">
                  <div class=lmrx-featured-grid__list__item__image>
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width=390
                      data-src="/pub/media/catalog/category/C7.jpg" />
                  </div>

                  <div class=lmrx-featured-grid__list__item__text>
                    <div class=lmrx-featured-grid__list__item__action>Browse</div>

                    <div class=lmrx-featured-grid__list__item__title>Commercial</div>
                  </div>
                </a>
              </div>



              <div class=lmrx-featured-grid__list__item> <a href="roofing.html">
                  <div class=lmrx-featured-grid__list__item__image><img
                      src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width=390
                      data-src="/pub/media/catalog/category/Brick_Cat_Image.jpg" />
                  </div>
                  <div class=lmrx-featured-grid__list__item__text>
                    <div class=lmrx-featured-grid__list__item__action>Browse</div>

                    <div class=lmrx-featured-grid__list__item__title>Roofing</div>
                  </div>
                </a>
              </div>



              <div class=lmrx-featured-grid__list__item> <a href="timber-joinery.html">
                  <div class=lmrx-featured-grid__list__item__image><img
                      src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width=390
                      data-src="/pub/media/catalog/category/C5.jpg" /></div>

                  <div class=lmrx-featured-grid__list__item__text>
                    <div class=lmrx-featured-grid__list__item__action>Browse</div>
                    <div class=lmrx-featured-grid__list__item__title>Timber &amp; Sheet</div>
                  </div>
                </a></div>



            </div>


          </div>
        </div>
        <div class="widget block block-static-block"> </div>
        <div class="widget block block-static-block"> </div>
        <div class="widget block block-static-block"> </div>
        <div class="widget block block-static-block"> </div>
        <h2 class=home_info_cards>The Nuts & Bolts</h2>
        <div class=row-nuts>
          <div class=info-cards> <a href="nuts-and-bolts/guides.html" class="card card-with-icon card-guides"> <img
                class=card-icon src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                alt="How to Guides Icon"
                data-src="/static/version1643217956/frontend/Rixxo/bm/en_GB/images/icon-how-to-guides.svg" />
              <h2>How to Guides</h2>
            </a></div>
          <div class=info-cards> <a href="nuts-and-bolts/product-data-information.html"
              class="card card-with-icon card-product-info"> <img class=card-icon
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                alt="Product Information Icon"
                data-src="/static/version1643217956/frontend/Rixxo/bm/en_GB/images/icon-product-info.svg" />
              <h2>Product Information &amp; Data sheets</h2>
            </a></div>
          <div class=info-cards> <a href="nuts-and-bolts/resources.html" class="card card-with-icon card-resources">
              <img class=card-icon src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                alt="Resources Icon"
                data-src="/static/version1643217956/frontend/Rixxo/bm/en_GB/images/icon-resources.svg" />
              <h2>Resources</h2>
            </a></div>
          <div class=info-cards> <a href="nuts-and-bolts/customer-services.html" class="card card-with-icon card-faqs">
              <img class=card-icon src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                alt="FAQs Icon" data-src="/static/version1643217956/frontend/Rixxo/bm/en_GB/images/icon-faqs.svg" />
              <h2>Customer Services</h2>
            </a></div>
          <div class=info-cards> <a href="nuts-and-bolts/news-and-events.html" class="card card-with-icon card-news">
              <img class=card-icon src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                alt="News &amp; Events Icon"
                data-src="/static/version1643217956/frontend/Rixxo/bm/en_GB/images/icon-news-and-events.svg" />
              <h2>News &amp; Events</h2>
            </a>
          </div>
          <div class=info-cards> <a href="nuts-and-bolts/charity-events.html" class="card card-with-icon card-charity">
              <img class=card-icon src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                alt="Charity Support Icon"
                data-src="static/version1643217956/frontend/Rixxo/bm/en_GB/images/icon-charity.svg" />
              <h2>Charity Support &amp; Sustainability</h2>
            </a></div>
          <div class=info-cards> <a href="nuts-and-bolts/events.html" class="card card-with-icon card-company"> <img
                class=card-icon src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                alt="Company Events Icon"
                data-src="static/version1643217956/frontend/Rixxo/bm/en_GB/images/icon-events.svg" />
              <h2>Company Events</h2>
            </a></div>
          <div class=info-cards> <a href="nuts-and-bolts/meet-the-team.html"
              class="card card-with-icon card-meet-the-team"> <img class=card-icon
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                alt="Meet the Team Icon"
                data-src="static/version1643217956/frontend/Rixxo/bm/en_GB/images/icon-meet-the-team.svg" />
              <h2>Meet the Team</h2>
            </a></div>
          <div class=info-cards> <a href="nuts-and-bolts/case-studies.html"
              class="card card-with-icon card-case-studies"> <img class=card-icon
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                alt="Case Studies Icon"
                data-src="static/version1643217956/frontend/Rixxo/bm/en_GB/images/icon-case-studies.svg" />
              <h2>Case Studies</h2>
            </a></div>
        </div>
        <style xml="space">
          .row-nuts {
            display: flex;
            margin-left: -15px;
            margin-right: -15px;
            flex-wrap: wrap;
            box-sizing: border-box
          }

          .card-with-icon {
            display: flex;
            box-shadow: 0px 12px 12px rgb(0 0 0/15%);
            border-radius: 6px;
            margin-bottom: 40px;
            padding: 0 25px;
            align-items: center;
            flex-direction: column;
            height: 100%
          }

          .card-with-icon .card-icon {
            box-sizing: border-box;
            width: 40px;
            margin-top: 20px
          }

          h2.home_info_cards {
            font-size: 38px;
            line-height: 52px;
            color: #1b3990;
            font-weight: 700
          }

          .info-cards {
            width: 50%;
            box-sizing: border-box;
            margin-bottom: 15px;
            margin-top: 7.5px
          }

          .info-cards:nth-child(odd) {
            padding-left: 15px;
            padding-right: 7px
          }

          .info-cards:nth-child(even) {
            padding-left: 7px;
            padding-right: 15px
          }

          .info-cards a:hover h2,
          .info-cards a:hover {
            text-decoration: none
          }

          .card-with-icon.card-guides {
            background-color: #fad839
          }

          .card-with-icon.card-guides h2,
          .card-with-icon.card-company h2 {
            color: #1b3990
          }

          .card-with-icon.card-product-info {
            background-color: #ca1f26
          }

          .card-with-icon.card-product-info h2,
          .card-with-icon.card-meet-the-team h2 {
            color: #fad839
          }

          .card-with-icon.card-product-info h2,
          .card-with-icon.card-charity h2,
          .card-with-icon.card-guides h2,
          .card-with-icon.card-faqs h2,
          .card-with-icon.card-meet-the-team h2,
          .card-with-icon.card-company h2,
          .card-with-icon.card-news h2 {
            line-height: normal
          }

          .card-with-icon.card-resources {
            background-color: #1b3990
          }

          .card-with-icon.card-resources h2,
          .card-with-icon.card-faqs h2,
          .card-with-icon.card-charity h2 {
            color: #fff
          }

          .card-with-icon.card-faqs {
            background-color: #333
          }

          .card-with-icon.card-news,
          .card-with-icon.card-company,
          .card-with-icon.card-meet-the-team,
          .card-with-icon.card-case-studies {
            background-color: #fff
          }

          .card-with-icon.card-news h2 {
            color: #ca1f26
          }

          .card-with-icon.card-charity {
            background-color: #1fca9c
          }

          .card-with-icon.card-case-studies h2 {
            color: #333
          }

          .info-cards h2 {
            font-weight: 700;
            box-sizing: border-box;
            font-size: 18px;
            text-align: center
          }

          @media (min-width:768px) {
            .info-cards {
              margin-top: 0;
              margin-bottom: 0
            }

            .card-with-icon {
              height: auto;
              flex-direction: row
            }

            .card-with-icon .card-icon {
              margin-right: 20px;
              margin-top: 0
            }

            .card-with-icon.card-guides h2,
            .card-with-icon.card-faqs h2,
            .card-with-icon.card-meet-the-team h2,
            .card-with-icon.card-company h2,
            .card-with-icon.card-news h2 {
              line-height: 52px
            }

            .card-with-icon .card-icon {
              margin-right: 10px
            }

            .info-cards h2 {
              font-size: 22px;
              line-height: 52px;
              text-align: left
            }

            .info-cards:nth-child(odd),
            .info-cards:nth-child(even) {
              padding-left: 15px;
              padding-right: 15px
            }

            .card-with-icon {
              height: 100px
            }

            .card-with-icon .card-icon {
              width: 50px
            }
          }

          @media (min-width:1024px) {
            .card-with-icon .card-icon {
              margin-right: 20px
            }

            .card-with-icon {
              height: 124px
            }

            .card-with-icon .card-icon {
              width: 66px
            }

            .info-cards {
              width: 33%
            }

            .info-cards h2 {
              line-height: 52px;
              font-size: 24px
            }
          }
        </style>


        <div class=reviews-box>
          <div class=trustpilot-widget data-locale=en-GB data-template-id=53aa8912dec7e10d38f59f36
            data-businessunit-id=4f4648aa00006400051316aa data-style-height=140px data-style-width="100%"
            data-theme=light data-stars="3,4,5" data-review-languages=en> <a
              href="https://uk.trustpilot.com/review/staging.buildingmaterials.co.uk" target=_blank
              rel=noopener>Trustpilot</a></div>
        </div>
      </div>
    </div>
  </main>


  <div class=page-bottom>
    <div class=content>
      <div data-aw-csblock-block-name=csblock_home_page_bottom>

      </div>
    </div>
  </div>

  <!-- footer start -->

  <%- include("./footer.ejs") %>