<%- include("./header.ejs") %>
    <main>

        <section class="hero hero-grey hero-large-background hero-archive">
            <div class="hero-text-cont">
                <div class="container">
                    <div class="row">
                        <div class="col-12">

                            <!-- /Breadcrumbs -->

                            <div class="hero-heading">
                                <h1>News &amp; Events</h1>
                            </div>
                        </div>
                        <!-- /Col -->
                    </div>
                    <!-- /Row -->
                </div>
                <!-- /Container -->
            </div>
            <!-- /Text Cont -->
            <div class="hero-image-cont">
                <div class="container">
                    <div class="row">
                        <!-- =====================
                        Main Post
                        ===================== -->
                        <div class="col-12 col-desk-8">
                            <!-- Main Post -->
                            <a href="https://www.buildingmaterials.co.uk/nuts-and-bolts/news-and-events/covid-19-trading-update"
                                class="video video-with-content video-bg-red">
                                <!-- Picture -->
                                <picture>
                                    <source class="video-poster" media="(max-width: 565px)" srcset="
                        https://www.buildingmaterials.co.uk/nuts-and-bolts/storage/media/2020/5/photo-1588146256435-63ec0608c415_550x300.jpeg
                      " />
                                    <source class="video-poster" media="(max-width: 992px)" srcset="
                        https://www.buildingmaterials.co.uk/nuts-and-bolts/storage/media/2020/5/photo-1588146256435-63ec0608c415_992x300.jpeg
                      " />
                                    <img class="video-poster"
                                        src="https://www.buildingmaterials.co.uk/nuts-and-bolts/storage/media/2020/5/photo-1588146256435-63ec0608c415.jpeg"
                                        alt="" />
                                </picture>
                                <!-- Content -->
                                <div class="video-content">
                                    <h5>News &amp; Events</h5>
                                    <span class="text-heading-2">Covid - 19 Trading Update</span>
                                    <div class="postinfo postinfo-white">
                                        <span class="postinfo-author">Jessica Johal</span>
                                        <span class="postinfo-date">5th May 2020</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- /Col -->
                        <!-- =====================
                        Sidebar (Featured Posts)
                        ===================== -->
                        <div class="col-12 col-desk-4">
                            <!-- Featured Post 1 -->
                            <a href="https://www.buildingmaterials.co.uk/nuts-and-bolts/news-and-events/green-homes-grant-connected-with-trustmark-scheme"
                                class="card card-bordered card-red card-fixed-height card-fixed-height-small card-fixed-height-overflow">
                                <h5 class="card-category">News &amp; Events</h5>
                                <div class="card-title-cont">
                                    <h3 class="card-title">
                                        Green Homes Grant Connected with TrustMark Scheme
                                    </h3>
                                    <p class="card-text">Free Home Insulation</p>
                                </div>
                                <div class="postinfo postinfo-align-bottom">
                                    <span class="postinfo-author">Liz Hobley</span>
                                    <span class="postinfo-date">4th August 2020</span>
                                </div>
                            </a><!-- /Card -->
                            <!-- Featured Post 2 -->
                            <a href="https://www.buildingmaterials.co.uk/nuts-and-bolts/news-and-events/price-increases"
                                class="card card-bordered card-red card-fixed-height card-fixed-height-small card-fixed-height-overflow">
                                <h5 class="card-category">News &amp; Events</h5>
                                <div class="card-title-cont">
                                    <h3 class="card-title">Price Increases</h3>
                                    <p class="card-text">Monthly Price Increase Information</p>
                                </div>
                                <div class="postinfo postinfo-align-bottom">
                                    <span class="postinfo-author">Jessica Johal</span>
                                    <span class="postinfo-date">21st July 2020</span>
                                </div>
                            </a><!-- /Card -->
                        </div>
                        <!-- /Col -->
                    </div>
                    <!-- /Row -->
                </div>
                <!-- /Container -->
            </div>
            <!-- /Image Cont -->
        </section>

        <!-- =====================
        Page Archive Components
        ===================== -->
        <!-- =====================
    Blocks
    ===================== -->
        <!-- =====================
    Cards (Normal Size)
    ===================== -->
        <section class="section section-padding section-cards-normal">
            <div class="container">
                <!-- Title -->
                <div class="row">
                    <div class="col-12">
                        <h2>More</h2>
                    </div>
                    <!-- /Col -->
                </div>
                <!-- /Row -->
                <!-- Cards -->
                <div class="row">
                    <div class="col-12 col-desk-6 card-col">
                        <!-- Card -->
                        <a href="https://www.buildingmaterials.co.uk/nuts-and-bolts/news-and-events/stamp-duty-holiday"
                            class="card card-side-image card-bg-red card-fixed-height">
                            <figure class="card-image">
                                <img class="lazy"
                                    data-src="https://www.buildingmaterials.co.uk/nuts-and-bolts/storage/media/2020/7/tom-rumble-7lvzop-txj-o-u-unsplash.jpg"
                                    alt="Houses" />
                            </figure>
                            <div class="card-content">
                                <div class="card-content-text">
                                    <h5 class="card-category">News &amp; Events</h5>
                                    <h3 class="card-title">Stamp Duty Holiday</h3>
                                    <p class="card-text">
                                        Reduced Stamp Duty until 31st March 2021
                                    </p>
                                </div>
                                <div class="postinfo postinfo-white">
                                    <span class="postinfo-author">Jessica Johal</span>
                                    <span class="postinfo-date">14th July 2020</span>
                                </div>
                            </div>
                        </a><!-- /Card -->
                    </div>
                    <!-- /Col -->
                    <div class="col-12 col-desk-6 card-col">
                        <!-- Card -->
                        <a href="https://www.buildingmaterials.co.uk/nuts-and-bolts/news-and-events/ppe-and-warning-signs"
                            class="card card-side-image card-bg-red card-fixed-height">
                            <figure class="card-image">
                                <img class="lazy"
                                    data-src="https://www.buildingmaterials.co.uk/nuts-and-bolts/storage/media/2020/7/ppe-masks--social-distancing.jpeg"
                                    alt="PPE &amp; Workplace Equipment" />
                            </figure>
                            <div class="card-content">
                                <div class="card-content-text">
                                    <h5 class="card-category">News &amp; Events</h5>
                                    <h3 class="card-title">
                                        PPE and Warning Signs: Helping to Keep Workplaces Safe
                                        During COVID-19
                                    </h3>
                                    <p class="card-text">
                                        How to Prevent Coronavirus in the Workplace
                                    </p>
                                </div>
                                <div class="postinfo postinfo-white">
                                    <span class="postinfo-author">Jessica Johal</span>
                                    <span class="postinfo-date">13th July 2020</span>
                                </div>
                            </div>
                        </a><!-- /Card -->
                    </div>
                    <!-- /Col -->
                    <div class="col-12 col-desk-6 card-col">
                        <!-- Card -->
                        <a href="https://www.buildingmaterials.co.uk/nuts-and-bolts/news-and-events/home-extensions-new-automatic-permission-to-build"
                            class="card card-side-image card-bg-red card-fixed-height">
                            <figure class="card-image">
                                <img class="lazy"
                                    data-src="https://www.buildingmaterials.co.uk/nuts-and-bolts/storage/media/2020/7/breno-assis-r3-w-a-w-u5-fi5-q-unsplash.jpg"
                                    alt="new home extensions law" />
                            </figure>
                            <div class="card-content">
                                <div class="card-content-text">
                                    <h5 class="card-category">News &amp; Events</h5>
                                    <h3 class="card-title">
                                        Home Extensions - New Automatic Permission to Build
                                    </h3>
                                    <p class="card-text">FAST TRACKED Home Extensions</p>
                                </div>
                                <div class="postinfo postinfo-white">
                                    <span class="postinfo-author">Jessica Johal</span>
                                    <span class="postinfo-date">5th August 2020</span>
                                </div>
                            </div>
                        </a><!-- /Card -->
                    </div>
                    <!-- /Col -->
                </div>
                <!-- /Row -->
            </div>
            <!-- /Container -->
        </section>
    </main>
    <div class=page-bottom>
        <div class=content>
            <div data-aw-csblock-block-name=csblock_home_page_bottom>

            </div>
        </div>
    </div>
    <script src="https://www.buildingmaterials.co.uk/nuts-and-bolts/assets/js/frontend.js" defer></script>

    <%- include("./footer.ejs") %>