<%- include("./header.ejs") %>


    <main>

        <!-- =====================
        Page Single
        ===================== -->
        <section class="hero hero-red">
            <div class="hero-text-cont">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Breadcrumbs -->

                            <div class="hero-heading">
                                <h1>Privacy Policy</h1>
                            </div>
                        </div><!-- /Col -->
                    </div><!-- /Row -->
                    <div class="row hero-info-row">
                        <!-- Info -->
                        <div class="col-12 col-desk-10">
                            <div class="hero-postinfo-social">

                            </div>
                        </div><!-- /Col -->
                        <!-- Categories -->
                    </div><!-- /Row -->
                </div><!-- /Container -->
            </div><!-- /Text Cont -->
            <div class="hero-image-cont">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-desk-12">
                            <!-- Image -->
                            <picture class="hero-image ">
                                <source media="(max-width: 565px)"
                                    srcset="https://www.buildingmaterials.co.uk/nuts-and-bolts/storage/media/2020/7/padlock_478x300.jpeg">
                                <source media="(max-width: 992px)"
                                    srcset="https://www.buildingmaterials.co.uk/nuts-and-bolts/storage/media/2020/7/padlock_957x600.jpeg">
                                <img src="https://www.buildingmaterials.co.uk/nuts-and-bolts/storage/media/2020/7/padlock.jpeg"
                                    alt="">
                            </picture>
                            <!-- Main Content -->
                            <div class="richtext">
                                <h3>Who we are?</h3>
                                <p class="p4"><span class="s2">We are Building Materials Nationwide, this is our Privacy
                                        Policy; it applies to all our brands, their websites, mobile applications, and
                                        email. We can be found at&nbsp;1 The Pavillions, Ruscombe Business Park,
                                        Twyford, RG10 9NN. You can contact us in the following ways.</span></p>
                                <p class="p4"><span class="s2">Writing to the above address.</span><span
                                        class="s1"><br></span><span class="s2">Emailing us at
                                        sales@buildingmaterials.co.uk&nbsp;</span><span class="s1"><br></span><span
                                        class="s2">Phoning us on&nbsp;01628674910</span></p>
                                <p class="p4"><span class="s2">We are committed to processing your data securely with
                                        your rights always considered.</span></p>



                            </div>
                            <!-- Info -->

                        </div><!-- /Col -->

                    </div><!-- /Row -->
                </div><!-- /Container -->
            </div><!-- /Image Cont -->
        </section>

    </main>

    <!-- =====================
    Radio
    ===================== -->
    <div class="footer-radio-banner" style="display:none !important;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a href="https://www.buildingmaterials.co.uk/trade-account">
                        <img class="lazy"
                            data-src="https://www.buildingmaterials.co.uk/nuts-and-bolts/assets/images/bm-radio-banner.png"
                            alt="Open a Trade Credit Account today and get a Digital Radio worth £1000">
                    </a>
                </div><!-- /Col -->
            </div><!-- /Row -->
        </div><!-- /Container -->
    </div>


    <script src="https://www.buildingmaterials.co.uk/nuts-and-bolts/assets/js/frontend.js" defer></script>
    <script> </script>
    <%- include("./footer.ejs") %>